:root {
  --theme-tx-1: #333333;
  --theme-tx-2: #4b4b4b;
  --theme-tx-3: #7b7b7b;
  --theme-bg-1: #fcfcfc;
  --theme-bg-2: #f2f2f2;
  --theme-bg-3: #e6e6e6;
  --theme-bg-4: #d9d9d9;
  --theme-lk-1: #966c01;
  --theme-lk-2: #e0c06d;
  --theme-lk-tx: #333333;
  --theme-ac-1: #cfcfcf;
  --theme-code-bg: #2e3440;
  --theme-code-tx: #d8dee9;
  --theme-token-comment: #616e88;
  --theme-token-tag: #81a1c1;
  --theme-token-attr-name: #8fbcbb;
  --theme-token-attr-value: #a3be8c;
  --theme-token-keyword: #78a2c4;
  --theme-reverse-tx-1: #e8e8e8;
  --theme-reverse-tx-3: #515151;
  --theme-reverse-bg-1: #242424;
  --theme-reverse-bg-2: #1c1c1c;
  --theme-reverse-bg-3: #141414;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --theme-tx-1: #e8e8e8;
    --theme-tx-2: #aaaaaa;
    --theme-tx-3: #515151;
    --theme-bg-1: #242424;
    --theme-bg-2: #1c1c1c;
    --theme-bg-3: #141414;
    --theme-bg-4: #0d0d0d;
    --theme-lk-1: #d19600;
    --theme-lk-2: #d19600;
    --theme-lk-tx: #141414;
    --theme-ac-1: #2f2f2f;
    --theme-code-bg: #181b21;
    --theme-code-tx: #aaaaaa;
    --theme-reverse-tx-1: #333333;
    --theme-reverse-tx-3: #7b7b7b;
    --theme-reverse-bg-1: #fcfcfc;
    --theme-reverse-bg-2: #f2f2f2;
    --theme-reverse-bg-3: #e6e6e6;
  }
}*/
