//----------------------------------------------------
// Utility: Deco
//----------------------------------------------------

.is-font-sans {
  font-family: $font-sans;
}

.is-font-sans-yakuhanjp {
  font-family: $font-sans-yakuhanjp;
}

.is-font-sans-yakuhanjps {
  font-family: $font-sans-yakuhanjps;
}

.is-font-sans-hiragino {
  font-family: $font-sans-hiragino;
}

.is-font-sans-hiragino-yakuhanjp {
  font-family: $font-sans-hiragino-yakuhanjp;
}

.is-font-sans-hiragino-yakuhanjps {
  font-family: $font-sans-hiragino-yakuhanjps;
}

.is-font-sans-yugo {
  font-family: $font-sans-yugo;
}

.is-font-sans-yugo-yakuhanjp {
  font-family: $font-sans-yugo-yakuhanjp;
}

.is-font-sans-yugo-yakuhanjps {
  font-family: $font-sans-yugo-yakuhanjps;
}

.is-font-sans-noto {
  font-family: $font-sans-noto;
}

.is-font-sans-noto-yakuhanjp {
  font-family: $font-sans-noto-yakuhanjp;
}

.is-font-sans-noto-yakuhanjps {
  font-family: $font-sans-noto-yakuhanjps;
}

.is-font-sans-meiryo {
  font-family: $font-sans-meiryo;
}

.is-font-sans-meiryo-yakuhanjp {
  font-family: $font-sans-meiryo-yakuhanjp;
}

.is-font-sans-meiryo-yakuhanjps {
  font-family: $font-sans-meiryo-yakuhanjps;
}

.is-font-serif {
  font-family: $font-serif;
}

.is-font-serif-yakuhanmp {
  font-family: $font-serif-yakuhanmp;
}

.is-font-serif-yakuhanmps {
  font-family: $font-serif-yakuhanmps;
}

.is-font-serif-hiragino {
  font-family: $font-serif-hiragino;
}

.is-font-serif-hiragino-yakuhanmp {
  font-family: $font-serif-hiragino-yakuhanmp;
}

.is-font-serif-hiragino-yakuhanmps {
  font-family: $font-serif-hiragino-yakuhanmps;
}

.is-font-serif-yumi {
  font-family: $font-serif-yumi;
}

.is-font-serif-yumi-yakuhanmp {
  font-family: $font-serif-yumi-yakuhanmp;
}

.is-font-serif-yumi-yakuhanmps {
  font-family: $font-serif-yumi-yakuhanmps;
}

.is-font-serif-noto {
  font-family: $font-serif-noto;
}

.is-font-serif-noto-yakuhanmp {
  font-family: $font-serif-noto-yakuhanmp;
}

.is-font-serif-noto-yakuhanmps {
  font-family: $font-serif-noto-yakuhanmps;
}

.is-font-serif-meiryo {
  font-family: $font-serif-meiryo;
}

.is-font-serif-meiryo-yakuhanmp {
  font-family: $font-serif-meiryo-yakuhanmp;
}

.is-font-serif-meiryo-yakuhanmps {
  font-family: $font-serif-meiryo-yakuhanmps;
}

.is-font-round,
.is-font-round-hiragino,
.is-font-round-yugo,
.is-font-round-noto,
.is-font-round-meiryo {
  font-family: $font-round;
}

.is-font-round-yakuhanrp,
.is-font-round-hiragino-yakuhanrp,
.is-font-round-yugo-yakuhanrp,
.is-font-round-noto-yakuhanrp,
.is-font-round-meiryo-yakuhanrp {
  font-family: $font-round-yakuhanrp;
}

.is-font-round-yakuhanrps,
.is-font-round-hiragino-yakuhanrps,
.is-font-round-yugo-yakuhanrps,
.is-font-round-noto-yakuhanrps,
.is-font-round-meiryo-yakuhanrps {
  font-family: $font-round-yakuhanrps;
}

.is-weight-800 {
  font-weight: 800;
}

.is-color-transparent {
  color: transparent;
}