//----------------------------------------------------
// Utility: Size
//----------------------------------------------------

.is-size-xxl {
  font-size: 200%;
}

.is-size-xl {
  font-size: 150%;
}

.is-size-lg {
  font-size: 125%;
}

.is-size-md {
  font-size: 100%;
}

.is-size-sm {
  font-size: 87.5%;
}

.is-size-xs {
  font-size: 75%;
}

.is-size-xxs {
  font-size: 62.5%;
}