//----------------------------------------------------
//- Base: Config
//----------------------------------------------------

-
  var site = {
    title : "Qrac GitHub",
    desc : "約物半角専用のWebフォント",
    body : [ "yakuhanjp", "yakuhanjp-demo" ],
    url : "https://qrac.github.io/yakuhanjp"
  }

-
  var pages = {
    index : {
      title : "Yaku Han JP",
      desc : "約物半角専用のWebフォント",
      body : [ "yakuhanjp-demo-index" ],
      agent : "rwd",
      url : "index.html",
      ogp : "ogp.png",
      login : "no"
    }
  }

-
  var path = {
    img : "docs/img",
    font : "docs/font",
    css : "docs/css",
    js : "docs/js"
  }

-
  var twitter = {
    id : "Qrac_JP",
    url : "https://twitter.com"
  }

-
  var github = {
    id : "qrac",
    repo : "yakuhanjp",
    ver : "v3.0.0",
    license : "SIL",
    url : "https://github.com"
  }

-
  var copylight = {
    year : "2017",
    name : "QRANOKO",
    url : "https://qranoko.jp"
  }

-
  var example = {
    text01 : "「約物半角専用のWebフォント」を優先的に当てることによって、Webテキストの日本語に含まれる約物を半角にすることができました。例えば「かっこ」や『二重かっこ』、【バッジに使いそうなかっこ】などを半角にできます。ウェイトは7種類。Noto Sans Japaneseに沿っています。",
    text02 : "、。！？〈〉《》「」『』【】〔〕・（）：；［］｛｝",
    text03 : "〈〉《》「」『』【】〔〕（）［］｛｝",
    text04 : "、。！？《》「」『』【】〔〕・（）：；［］｛｝",
    text05 : "《》「」『』【】〔〕（）［］｛｝"
  }