//----------------------------------------------------
//- Base: Layout
//----------------------------------------------------

doctype html
block vars
html(lang="ja")
  head
    include _head.pug
  body(class=site.body class=page.body)
    block contents
    include _script.pug