//----------------------------------------------------
//- Base: Script
//----------------------------------------------------

script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")

//----------------------------------------------------
//- / CDN - highlight.js
//----------------------------------------------------

//-script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js")

//----------------------------------------------------
//- / Local - Javascript
//----------------------------------------------------

script(src=path.js+"/app.min.js")