//----------------------------------------------------
//- Demo: Pre Load
//----------------------------------------------------

p.texts.is-center.is-color-transparent.is-xs
  span.text.is-font-sans-hiragino-yakuhanjp
    span.text.is-weight-100 「
    span.text.is-weight-200 」
    span.text.is-weight-300 「
    span.text.is-weight-400 」
    span.text.is-weight-500 「
    span.text.is-weight-700 」
    span.text.is-weight-900 「
  span.text.is-font-sans-hiragino-yakuhanjps
    span.text.is-weight-100 「
    span.text.is-weight-200 」
    span.text.is-weight-300 「
    span.text.is-weight-400 」
    span.text.is-weight-500 「
    span.text.is-weight-700 」
    span.text.is-weight-900 「
  span.text.is-font-serif-hiragino-yakuhanmp
    span.text.is-weight-100 「
    span.text.is-weight-200 」
    span.text.is-weight-300 「
    span.text.is-weight-400 」
    span.text.is-weight-500 「
    span.text.is-weight-700 」
    span.text.is-weight-900 「
  span.text.is-font-serif-hiragino-yakuhanmps
    span.text.is-weight-100 「
    span.text.is-weight-200 」
    span.text.is-weight-300 「
    span.text.is-weight-400 」
    span.text.is-weight-500 「
    span.text.is-weight-700 」
    span.text.is-weight-900 「
  span.text.is-font-round-yakuhanrp
    span.text.is-weight-100 「
    span.text.is-weight-300 」
    span.text.is-weight-400 「
    span.text.is-weight-500 」
    span.text.is-weight-700 「
    span.text.is-weight-800 」
    span.text.is-weight-900 「
  span.text.is-font-round-yakuhanrps
    span.text.is-weight-100 「
    span.text.is-weight-300 」
    span.text.is-weight-400 「
    span.text.is-weight-500 」
    span.text.is-weight-700 「
    span.text.is-weight-800 」
    span.text.is-weight-900 「
  span.text.is-font-sans-noto
    span.text.is-weight-100 の
    span.text.is-weight-200 と
    span.text.is-weight-300 の
    span.text.is-weight-400 と
    span.text.is-weight-500 の
    span.text.is-weight-700 と
    span.text.is-weight-900 の
  span.text.is-font-serif-noto
    span.text.is-weight-100 の
    span.text.is-weight-200 と
    span.text.is-weight-300 の
    span.text.is-weight-400 と
    span.text.is-weight-500 の
    span.text.is-weight-700 と
    span.text.is-weight-900 の
  span.text.is-font-round
    span.text.is-weight-100 ら
    span.text.is-weight-300 う
    span.text.is-weight-400 ら
    span.text.is-weight-500 う
    span.text.is-weight-700 ら
    span.text.is-weight-800 う
    span.text.is-weight-900 ら