@font-face {
  font-family: "YakuHanMPs";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("core/YakuHanMPs/woff2/YakuHanMPs-ExtraLight.woff2") format("woff2");
  unicode-range: U+3008, U+3009, U+300a, U+300b, U+300c, U+300d, U+300e, U+300f,
    U+3010, U+3011, U+3014, U+3015, U+ff08, U+ff09, U+ff3b, U+ff3d, U+ff5b,
    U+ff5d;
}

@font-face {
  font-family: "YakuHanMPs";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("core/YakuHanMPs/woff2/YakuHanMPs-Light.woff2") format("woff2");
  unicode-range: U+3008, U+3009, U+300a, U+300b, U+300c, U+300d, U+300e, U+300f,
    U+3010, U+3011, U+3014, U+3015, U+ff08, U+ff09, U+ff3b, U+ff3d, U+ff5b,
    U+ff5d;
}

@font-face {
  font-family: "YakuHanMPs";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("core/YakuHanMPs/woff2/YakuHanMPs-Regular.woff2") format("woff2");
  unicode-range: U+3008, U+3009, U+300a, U+300b, U+300c, U+300d, U+300e, U+300f,
    U+3010, U+3011, U+3014, U+3015, U+ff08, U+ff09, U+ff3b, U+ff3d, U+ff5b,
    U+ff5d;
}

@font-face {
  font-family: "YakuHanMPs";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("core/YakuHanMPs/woff2/YakuHanMPs-Medium.woff2") format("woff2");
  unicode-range: U+3008, U+3009, U+300a, U+300b, U+300c, U+300d, U+300e, U+300f,
    U+3010, U+3011, U+3014, U+3015, U+ff08, U+ff09, U+ff3b, U+ff3d, U+ff5b,
    U+ff5d;
}

@font-face {
  font-family: "YakuHanMPs";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("core/YakuHanMPs/woff2/YakuHanMPs-SemiBold.woff2") format("woff2");
  unicode-range: U+3008, U+3009, U+300a, U+300b, U+300c, U+300d, U+300e, U+300f,
    U+3010, U+3011, U+3014, U+3015, U+ff08, U+ff09, U+ff3b, U+ff3d, U+ff5b,
    U+ff5d;
}

@font-face {
  font-family: "YakuHanMPs";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("core/YakuHanMPs/woff2/YakuHanMPs-Bold.woff2") format("woff2");
  unicode-range: U+3008, U+3009, U+300a, U+300b, U+300c, U+300d, U+300e, U+300f,
    U+3010, U+3011, U+3014, U+3015, U+ff08, U+ff09, U+ff3b, U+ff3d, U+ff5b,
    U+ff5d;
}

@font-face {
  font-family: "YakuHanMPs";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("core/YakuHanMPs/woff2/YakuHanMPs-Black.woff2") format("woff2");
  unicode-range: U+3008, U+3009, U+300a, U+300b, U+300c, U+300d, U+300e, U+300f,
    U+3010, U+3011, U+3014, U+3015, U+ff08, U+ff09, U+ff3b, U+ff3d, U+ff5b,
    U+ff5d;
}
