//----------------------------------------------------
// Variable: Break Point
//----------------------------------------------------

$screen-width-mobile: 320px !default;
$screen-width-fablet: 576px !default;
$screen-width-tablet: 768px !default;
$screen-width-desktop: 992px !default;
$screen-width-wide: 1200px !default;
