//----------------------------------------------------
// Variable: Break Point
//----------------------------------------------------

//----------------------------------------------------
// / Base
//----------------------------------------------------

$screen-width-mobile: 0px !default;
$screen-width-fablet: 576px !default;
$screen-width-tablet: 768px !default;
$screen-width-desktop: 992px !default;
$screen-width-wide: 1200px !default;

//----------------------------------------------------
// / Pattern
//----------------------------------------------------

$pattern-breakpoint-base:(
  mobile: $screen-width-mobile,
  fablet: $screen-width-fablet,
  tablet: $screen-width-tablet,
  desktop: $screen-width-desktop,
  wide: $screen-width-wide
);

$pattern-breakpoint-mediaquery-mobile-first:(
  mobile: $screen-width-mobile,
  fablet: "screen and (min-width: $screen-width-fablet)",
  tablet: "screen and (min-width: $screen-width-tablet)",
  desktop: "screen and (min-width: $screen-width-desktop)",
  wide: "screen and (min-width: $screen-width-wide)"
);

$pattern-breakpoint-mediaquery-all:(
  mobile: $screen-width-mobile,
  fablet: "screen and (min-width: $screen-width-fablet)",
  tablet: "screen and (min-width: $screen-width-tablet)",
  desktop: "screen and (min-width: $screen-width-desktop)",
  wide: "screen and (min-width: $screen-width-wide)",
  mobile-only: "screen and (max-width: $screen-width-fablet - 1px)",
  fablet-only: "screen and (min-width: $screen-width-fablet) and (max-width: $screen-width-tablet - 1px)",
  tablet-only: "screen and (min-width: $screen-width-tablet) and (max-width: $screen-width-desktop - 1px)",
  desktop-only: "screen and (min-width: $screen-width-desktop) and (max-width: $screen-width-wide - 1px)",
  wide-only: "screen and (min-width: $screen-width-wide)",
  mobile-fablet: "screen and (max-width: $screen-width-tablet - 1px)",
  mobile-tablet: "screen and (max-width: $screen-width-desktop - 1px)",
  mobile-desktop: "screen and (max-width: $screen-width-wide - 1px)",
  landscape: "all and (orientation:landscape) and (max-width: $screen-width-desktop - 1px)",
  portrait: "all and (orientation:portrait) and (max-width: $screen-width-desktop - 1px)"
);