//----------------------------------------------------
// Variable: Color
//----------------------------------------------------

$red-50: $mof-red-50 !default;
$red-100: $mof-red-100 !default;
$red-200: $mof-red-200 !default;
$red-300: $mof-red-300 !default;
$red-400: $mof-red-400 !default;
$red-500: $mof-red-500 !default;
$red-600: $mof-red-600 !default;
$red-700: $mof-red-700 !default;
$red-800: $mof-red-800 !default;
$red-900: $mof-red-900 !default;
$red-a100: $mof-red-a100 !default;
$red-a200: $mof-red-a200 !default;
$red-a400: $mof-red-a400 !default;
$red-a700: $mof-red-a700 !default;

$pink-50: $mof-pink-50 !default;
$pink-100: $mof-pink-100 !default;
$pink-200: $mof-pink-200 !default;
$pink-300: $mof-pink-300 !default;
$pink-400: $mof-pink-400 !default;
$pink-500: $mof-pink-500 !default;
$pink-600: $mof-pink-600 !default;
$pink-700: $mof-pink-700 !default;
$pink-800: $mof-pink-800 !default;
$pink-900: $mof-pink-900 !default;
$pink-a100: $mof-pink-a100 !default;
$pink-a200: $mof-pink-a200 !default;
$pink-a400: $mof-pink-a400 !default;
$pink-a700: $mof-pink-a700 !default;

$purple-50: $mof-purple-50 !default;
$purple-100: $mof-purple-100 !default;
$purple-200: $mof-purple-200 !default;
$purple-300: $mof-purple-300 !default;
$purple-400: $mof-purple-400 !default;
$purple-500: $mof-purple-500 !default;
$purple-600: $mof-purple-600 !default;
$purple-700: $mof-purple-700 !default;
$purple-800: $mof-purple-800 !default;
$purple-900: $mof-purple-900 !default;
$purple-a100: $mof-purple-a100 !default;
$purple-a200: $mof-purple-a200 !default;
$purple-a400: $mof-purple-a400 !default;
$purple-a700: $mof-purple-a700 !default;

$deep-purple-50: $mof-deep-purple-50 !default;
$deep-purple-100: $mof-deep-purple-100 !default;
$deep-purple-200: $mof-deep-purple-200 !default;
$deep-purple-300: $mof-deep-purple-300 !default;
$deep-purple-400: $mof-deep-purple-400 !default;
$deep-purple-500: $mof-deep-purple-500 !default;
$deep-purple-600: $mof-deep-purple-600 !default;
$deep-purple-700: $mof-deep-purple-700 !default;
$deep-purple-800: $mof-deep-purple-800 !default;
$deep-purple-900: $mof-deep-purple-900 !default;
$deep-purple-a100: $mof-deep-purple-a100 !default;
$deep-purple-a200: $mof-deep-purple-a200 !default;
$deep-purple-a400: $mof-deep-purple-a400 !default;
$deep-purple-a700: $mof-deep-purple-a700 !default;

$indigo-50: $mof-indigo-50 !default;
$indigo-100: $mof-indigo-100 !default;
$indigo-200: $mof-indigo-200 !default;
$indigo-300: $mof-indigo-300 !default;
$indigo-400: $mof-indigo-400 !default;
$indigo-500: $mof-indigo-500 !default;
$indigo-600: $mof-indigo-600 !default;
$indigo-700: $mof-indigo-700 !default;
$indigo-800: $mof-indigo-800 !default;
$indigo-900: $mof-indigo-900 !default;
$indigo-a100: $mof-indigo-a100 !default;
$indigo-a200: $mof-indigo-a200 !default;
$indigo-a400: $mof-indigo-a400 !default;
$indigo-a700: $mof-indigo-a700 !default;

$blue-50: $mof-blue-50 !default;
$blue-100: $mof-blue-100 !default;
$blue-200: $mof-blue-200 !default;
$blue-300: $mof-blue-300 !default;
$blue-400: $mof-blue-400 !default;
$blue-500: $mof-blue-500 !default;
$blue-600: $mof-blue-600 !default;
$blue-700: $mof-blue-700 !default;
$blue-800: $mof-blue-800 !default;
$blue-900: $mof-blue-900 !default;
$blue-a100: $mof-blue-a100 !default;
$blue-a200: $mof-blue-a200 !default;
$blue-a400: $mof-blue-a400 !default;
$blue-a700: $mof-blue-a700 !default;

$light-blue-50: $mof-light-blue-50 !default;
$light-blue-100: $mof-light-blue-100 !default;
$light-blue-200: $mof-light-blue-200 !default;
$light-blue-300: $mof-light-blue-300 !default;
$light-blue-400: $mof-light-blue-400 !default;
$light-blue-500: $mof-light-blue-500 !default;
$light-blue-600: $mof-light-blue-600 !default;
$light-blue-700: $mof-light-blue-700 !default;
$light-blue-800: $mof-light-blue-800 !default;
$light-blue-900: $mof-light-blue-900 !default;
$light-blue-a100: $mof-light-blue-a100 !default;
$light-blue-a200: $mof-light-blue-a200 !default;
$light-blue-a400: $mof-light-blue-a400 !default;
$light-blue-a700: $mof-light-blue-a700 !default;

$cyan-50: $mof-cyan-50 !default;
$cyan-100: $mof-cyan-100 !default;
$cyan-200: $mof-cyan-200 !default;
$cyan-300: $mof-cyan-300 !default;
$cyan-400: $mof-cyan-400 !default;
$cyan-500: $mof-cyan-500 !default;
$cyan-600: $mof-cyan-600 !default;
$cyan-700: $mof-cyan-700 !default;
$cyan-800: $mof-cyan-800 !default;
$cyan-900: $mof-cyan-900 !default;
$cyan-a100: $mof-cyan-a100 !default;
$cyan-a200: $mof-cyan-a200 !default;
$cyan-a400: $mof-cyan-a400 !default;
$cyan-a700: $mof-cyan-a700 !default;

$teal-50: $mof-teal-50 !default;
$teal-100: $mof-teal-100 !default;
$teal-200: $mof-teal-200 !default;
$teal-300: $mof-teal-300 !default;
$teal-400: $mof-teal-400 !default;
$teal-500: $mof-teal-500 !default;
$teal-600: $mof-teal-600 !default;
$teal-700: $mof-teal-700 !default;
$teal-800: $mof-teal-800 !default;
$teal-900: $mof-teal-900 !default;
$teal-a100: $mof-teal-a100 !default;
$teal-a200: $mof-teal-a200 !default;
$teal-a400: $mof-teal-a400 !default;
$teal-a700: $mof-teal-a700 !default;

$green-50: $mof-green-50 !default;
$green-100: $mof-green-100 !default;
$green-200: $mof-green-200 !default;
$green-300: $mof-green-300 !default;
$green-400: $mof-green-400 !default;
$green-500: $mof-green-500 !default;
$green-600: $mof-green-600 !default;
$green-700: $mof-green-700 !default;
$green-800: $mof-green-800 !default;
$green-900: $mof-green-900 !default;
$green-a100: $mof-green-a100 !default;
$green-a200: $mof-green-a200 !default;
$green-a400: $mof-green-a400 !default;
$green-a700: $mof-green-a700 !default;

$light-green-50: $mof-light-green-50 !default;
$light-green-100: $mof-light-green-100 !default;
$light-green-200: $mof-light-green-200 !default;
$light-green-300: $mof-light-green-300 !default;
$light-green-400: $mof-light-green-400 !default;
$light-green-500: $mof-light-green-500 !default;
$light-green-600: $mof-light-green-600 !default;
$light-green-700: $mof-light-green-700 !default;
$light-green-800: $mof-light-green-800 !default;
$light-green-900: $mof-light-green-900 !default;
$light-green-a100: $mof-light-green-a100 !default;
$light-green-a200: $mof-light-green-a200 !default;
$light-green-a400: $mof-light-green-a400 !default;
$light-green-a700: $mof-light-green-a700 !default;

$lime-50: $mof-lime-50 !default;
$lime-100: $mof-lime-100 !default;
$lime-200: $mof-lime-200 !default;
$lime-300: $mof-lime-300 !default;
$lime-400: $mof-lime-400 !default;
$lime-500: $mof-lime-500 !default;
$lime-600: $mof-lime-600 !default;
$lime-700: $mof-lime-700 !default;
$lime-800: $mof-lime-800 !default;
$lime-900: $mof-lime-900 !default;
$lime-a100: $mof-lime-a100 !default;
$lime-a200: $mof-lime-a200 !default;
$lime-a400: $mof-lime-a400 !default;
$lime-a700: $mof-lime-a700 !default;

$yellow-50: $mof-yellow-50 !default;
$yellow-100: $mof-yellow-100 !default;
$yellow-200: $mof-yellow-200 !default;
$yellow-300: $mof-yellow-300 !default;
$yellow-400: $mof-yellow-400 !default;
$yellow-500: $mof-yellow-500 !default;
$yellow-600: $mof-yellow-600 !default;
$yellow-700: $mof-yellow-700 !default;
$yellow-800: $mof-yellow-800 !default;
$yellow-900: $mof-yellow-900 !default;
$yellow-a100: $mof-yellow-a100 !default;
$yellow-a200: $mof-yellow-a200 !default;
$yellow-a400: $mof-yellow-a400 !default;
$yellow-a700: $mof-yellow-a700 !default;

$amber-50: $mof-amber-50 !default;
$amber-100: $mof-amber-100 !default;
$amber-200: $mof-amber-200 !default;
$amber-300: $mof-amber-300 !default;
$amber-400: $mof-amber-400 !default;
$amber-500: $mof-amber-500 !default;
$amber-600: $mof-amber-600 !default;
$amber-700: $mof-amber-700 !default;
$amber-800: $mof-amber-800 !default;
$amber-900: $mof-amber-900 !default;
$amber-a100: $mof-amber-a100 !default;
$amber-a200: $mof-amber-a200 !default;
$amber-a400: $mof-amber-a400 !default;
$amber-a700: $mof-amber-a700 !default;

$orange-50: $mof-orange-50 !default;
$orange-100: $mof-orange-100 !default;
$orange-200: $mof-orange-200 !default;
$orange-300: $mof-orange-300 !default;
$orange-400: $mof-orange-400 !default;
$orange-500: $mof-orange-500 !default;
$orange-600: $mof-orange-600 !default;
$orange-700: $mof-orange-700 !default;
$orange-800: $mof-orange-800 !default;
$orange-900: $mof-orange-900 !default;
$orange-a100: $mof-orange-a100 !default;
$orange-a200: $mof-orange-a200 !default;
$orange-a400: $mof-orange-a400 !default;
$orange-a700: $mof-orange-a700 !default;

$deep-orange-50: $mof-deep-orange-50 !default;
$deep-orange-100: $mof-deep-orange-100 !default;
$deep-orange-200: $mof-deep-orange-200 !default;
$deep-orange-300: $mof-deep-orange-300 !default;
$deep-orange-400: $mof-deep-orange-400 !default;
$deep-orange-500: $mof-deep-orange-500 !default;
$deep-orange-600: $mof-deep-orange-600 !default;
$deep-orange-700: $mof-deep-orange-700 !default;
$deep-orange-800: $mof-deep-orange-800 !default;
$deep-orange-900: $mof-deep-orange-900 !default;
$deep-orange-a100: $mof-deep-orange-a100 !default;
$deep-orange-a200: $mof-deep-orange-a200 !default;
$deep-orange-a400: $mof-deep-orange-a400 !default;
$deep-orange-a700: $mof-deep-orange-a700 !default;

$brown-50: $mof-brown-50 !default;
$brown-100: $mof-brown-100 !default;
$brown-200: $mof-brown-200 !default;
$brown-300: $mof-brown-300 !default;
$brown-400: $mof-brown-400 !default;
$brown-500: $mof-brown-500 !default;
$brown-600: $mof-brown-600 !default;
$brown-700: $mof-brown-700 !default;
$brown-800: $mof-brown-800 !default;
$brown-900: $mof-brown-900 !default;

$grey-50: $mof-grey-50 !default;
$grey-100: $mof-grey-100 !default;
$grey-200: $mof-grey-200 !default;
$grey-300: $mof-grey-300 !default;
$grey-400: $mof-grey-400 !default;
$grey-500: $mof-grey-500 !default;
$grey-600: $mof-grey-600 !default;
$grey-700: $mof-grey-700 !default;
$grey-800: $mof-grey-800 !default;
$grey-900: $mof-grey-900 !default;

$blue-grey-50: $mof-blue-grey-50 !default;
$blue-grey-100: $mof-blue-grey-100 !default;
$blue-grey-200: $mof-blue-grey-200 !default;
$blue-grey-300: $mof-blue-grey-300 !default;
$blue-grey-400: $mof-blue-grey-400 !default;
$blue-grey-500: $mof-blue-grey-500 !default;
$blue-grey-600: $mof-blue-grey-600 !default;
$blue-grey-700: $mof-blue-grey-700 !default;
$blue-grey-800: $mof-blue-grey-800 !default;
$blue-grey-900: $mof-blue-grey-900 !default;

$black: $mof-black !default;
$white: $mof-white !default;

$primary: $cyan-500 !default;
$info: $blue-500 !default;
$success: $green-a700 !default;
$warning: $yellow-500 !default;
$danger: $red-500 !default;

$dark: $black !default;
$dark-1: rgba( $black, 0.87 ) !default;
$dark-2: rgba( $black, 0.7 ) !default;
$dark-3: rgba( $black, 0.6 ) !default;
$dark-4: rgba( $black, 0.5 ) !default;
$dark-5: rgba( $black, 0.4 ) !default;
$dark-6: rgba( $black, 0.26 ) !default;
$dark-7: rgba( $black, 0.15 ) !default;
$dark-8: rgba( $black, 0.12 ) !default;
$dark-9: rgba( $black, 0.05 ) !default;

$light: $white !default;
$light-1: rgba( $white, 0.87 ) !default;
$light-2: rgba( $white, 0.7 ) !default;
$light-3: rgba( $white, 0.6 ) !default;
$light-4: rgba( $white, 0.5 ) !default;
$light-5: rgba( $white, 0.4 ) !default;
$light-6: rgba( $white, 0.26 ) !default;
$light-7: rgba( $white, 0.15 ) !default;
$light-8: rgba( $white, 0.12 ) !default;
$light-9: rgba( $white, 0.05 ) !default;

$grey: $grey-50 !default;
$grey-1: $grey-100 !default;
$grey-2: $grey-200 !default;
$grey-3: $grey-300 !default;
$grey-4: $grey-400 !default;
$grey-5: $grey-500 !default;
$grey-6: $grey-600 !default;
$grey-7: $grey-700 !default;
$grey-8: $grey-800 !default;
$grey-9: $grey-900 !default;