//----------------------------------------------------
// Variable: Font
//----------------------------------------------------

$font-sans:
-apple-system, BlinkMacSystemFont,
"Segoe UI",
"Hiragino Sans", "Hiragino Kaku Gothic ProN",
"Noto Sans Japanese",
Meiryo,
"Yu Gothic Medium",
sans-serif !default;

$font-serif:
"Hiragino Mincho ProN",
"Noto Serif Japanese",
"Yu Mincho", YuMincho,
serif !default;

$font-mono:
Menlo, Monaco, Consolas,
"Liberation Mono", "Courier New",
Meiryo,
monospace, serif !default;

//----------------------------------------------------
// / Pattern
//----------------------------------------------------

$pattern-font-size:(
  xxl: 200%,
  xl: 150%,
  lg: 125%,
  md: 100%,
  sm: 87.5%,
  xs: 75%,
  xxs: 62.5%
);

$pattern-font-weight:(
  normal: 400,
  strong: 700,
  weight-100: 100,
  weight-200: 200,
  weight-300: 300,
  weight-400: 400,
  weight-500: 500,
  weight-700: 700,
  weight-900: 900
);