//----------------------------------------------------
// SCSS Variable: iOSTONE v1.0.1 CC0 by Qrac
//----------------------------------------------------

$multiplied-50-lighten: 35%;
$multiplied-100-lighten: 28%;
$multiplied-200-lighten: 21%;
$multiplied-300-lighten: 14%;
$multiplied-400-lighten: 7%;
$multiplied-600-darken: 8%;
$multiplied-700-darken: 16%;
$multiplied-800-darken: 24%;
$multiplied-900-darken: 32%;

$multiplied-a-saturate: 30%;
$multiplied-a100-lighten: 15%;
$multiplied-a200-lighten: 5%;
$multiplied-a400-darken: 5%;
$multiplied-a700-darken: 15%;

$ios-red: #FF3A30 !default;
$ios-red-50: lighten( $ios-red, $multiplied-50-lighten ) !default;
$ios-red-100: lighten( $ios-red, $multiplied-100-lighten ) !default;
$ios-red-200: lighten( $ios-red, $multiplied-200-lighten ) !default;
$ios-red-300: lighten( $ios-red, $multiplied-300-lighten ) !default;
$ios-red-400: lighten( $ios-red, $multiplied-400-lighten ) !default;
$ios-red-500: $ios-red !default;
$ios-red-600: darken( $ios-red, $multiplied-600-darken ) !default;
$ios-red-700: darken( $ios-red, $multiplied-700-darken ) !default;
$ios-red-800: darken( $ios-red, $multiplied-800-darken ) !default;
$ios-red-900: darken( $ios-red, $multiplied-900-darken ) !default;
$ios-red-a100: saturate(lighten($ios-red, $multiplied-a100-lighten), $multiplied-a-saturate) !default;
$ios-red-a200: saturate(lighten($ios-red, $multiplied-a200-lighten), $multiplied-a-saturate) !default;
$ios-red-a400: saturate(darken($ios-red, $multiplied-a400-darken), $multiplied-a-saturate) !default;
$ios-red-a700: saturate(darken($ios-red, $multiplied-a700-darken), $multiplied-a-saturate) !default;

$ios-pink: #FF2C55 !default;
$ios-pink-50: lighten( $ios-pink, $multiplied-50-lighten ) !default;
$ios-pink-100: lighten( $ios-pink, $multiplied-100-lighten ) !default;
$ios-pink-200: lighten( $ios-pink, $multiplied-200-lighten ) !default;
$ios-pink-300: lighten( $ios-pink, $multiplied-300-lighten ) !default;
$ios-pink-400: lighten( $ios-pink, $multiplied-400-lighten ) !default;
$ios-pink-500: $ios-pink !default;
$ios-pink-600: darken( $ios-pink, $multiplied-600-darken ) !default;
$ios-pink-700: darken( $ios-pink, $multiplied-700-darken ) !default;
$ios-pink-800: darken( $ios-pink, $multiplied-800-darken ) !default;
$ios-pink-900: darken( $ios-pink, $multiplied-900-darken ) !default;
$ios-pink-a100: saturate(lighten($ios-pink, $multiplied-a100-lighten), $multiplied-a-saturate) !default;
$ios-pink-a200: saturate(lighten($ios-pink, $multiplied-a200-lighten), $multiplied-a-saturate) !default;
$ios-pink-a400: saturate(darken($ios-pink, $multiplied-a400-darken), $multiplied-a-saturate) !default;
$ios-pink-a700: saturate(darken($ios-pink, $multiplied-a700-darken), $multiplied-a-saturate) !default;

$ios-purple: #B33FE6 !default;
$ios-purple-50: lighten( $ios-purple, $multiplied-50-lighten ) !default;
$ios-purple-100: lighten( $ios-purple, $multiplied-100-lighten ) !default;
$ios-purple-200: lighten( $ios-purple, $multiplied-200-lighten ) !default;
$ios-purple-300: lighten( $ios-purple, $multiplied-300-lighten ) !default;
$ios-purple-400: lighten( $ios-purple, $multiplied-400-lighten ) !default;
$ios-purple-500: $ios-purple !default;
$ios-purple-600: darken( $ios-purple, $multiplied-600-darken ) !default;
$ios-purple-700: darken( $ios-purple, $multiplied-700-darken ) !default;
$ios-purple-800: darken( $ios-purple, $multiplied-800-darken ) !default;
$ios-purple-900: darken( $ios-purple, $multiplied-900-darken ) !default;
$ios-purple-a100: saturate(lighten($ios-purple, $multiplied-a100-lighten), $multiplied-a-saturate) !default;
$ios-purple-a200: saturate(lighten($ios-purple, $multiplied-a200-lighten), $multiplied-a-saturate) !default;
$ios-purple-a400: saturate(darken($ios-purple, $multiplied-a400-darken), $multiplied-a-saturate) !default;
$ios-purple-a700: saturate(darken($ios-purple, $multiplied-a700-darken), $multiplied-a-saturate) !default;

$ios-deep-purple: #801FFF !default;
$ios-deep-purple-50: lighten( $ios-deep-purple, $multiplied-50-lighten ) !default;
$ios-deep-purple-100: lighten( $ios-deep-purple, $multiplied-100-lighten ) !default;
$ios-deep-purple-200: lighten( $ios-deep-purple, $multiplied-200-lighten ) !default;
$ios-deep-purple-300: lighten( $ios-deep-purple, $multiplied-300-lighten ) !default;
$ios-deep-purple-400: lighten( $ios-deep-purple, $multiplied-400-lighten ) !default;
$ios-deep-purple-500: $ios-deep-purple !default;
$ios-deep-purple-600: darken( $ios-deep-purple, $multiplied-600-darken ) !default;
$ios-deep-purple-700: darken( $ios-deep-purple, $multiplied-700-darken ) !default;
$ios-deep-purple-800: darken( $ios-deep-purple, $multiplied-800-darken ) !default;
$ios-deep-purple-900: darken( $ios-deep-purple, $multiplied-900-darken ) !default;
$ios-deep-purple-a100: saturate(lighten($ios-deep-purple, $multiplied-a100-lighten), $multiplied-a-saturate) !default;
$ios-deep-purple-a200: saturate(lighten($ios-deep-purple, $multiplied-a200-lighten), $multiplied-a-saturate) !default;
$ios-deep-purple-a400: saturate(darken($ios-deep-purple, $multiplied-a400-darken), $multiplied-a-saturate) !default;
$ios-deep-purple-a700: saturate(darken($ios-deep-purple, $multiplied-a700-darken), $multiplied-a-saturate) !default;

$ios-indigo: #3e5dd0 !default;
$ios-indigo-50: lighten( $ios-indigo, $multiplied-50-lighten ) !default;
$ios-indigo-100: lighten( $ios-indigo, $multiplied-100-lighten ) !default;
$ios-indigo-200: lighten( $ios-indigo, $multiplied-200-lighten ) !default;
$ios-indigo-300: lighten( $ios-indigo, $multiplied-300-lighten ) !default;
$ios-indigo-400: lighten( $ios-indigo, $multiplied-400-lighten ) !default;
$ios-indigo-500: $ios-indigo !default;
$ios-indigo-600: darken( $ios-indigo, $multiplied-600-darken ) !default;
$ios-indigo-700: darken( $ios-indigo, $multiplied-700-darken ) !default;
$ios-indigo-800: darken( $ios-indigo, $multiplied-800-darken ) !default;
$ios-indigo-900: darken( $ios-indigo, $multiplied-900-darken ) !default;
$ios-indigo-a100: saturate(lighten($ios-indigo, $multiplied-a100-lighten), $multiplied-a-saturate) !default;
$ios-indigo-a200: saturate(lighten($ios-indigo, $multiplied-a200-lighten), $multiplied-a-saturate) !default;
$ios-indigo-a400: saturate(darken($ios-indigo, $multiplied-a400-darken), $multiplied-a-saturate) !default;
$ios-indigo-a700: saturate(darken($ios-indigo, $multiplied-a700-darken), $multiplied-a-saturate) !default;

$ios-blue: #007AFF !default;
$ios-blue-50: lighten( $ios-blue, $multiplied-50-lighten ) !default;
$ios-blue-100: lighten( $ios-blue, $multiplied-100-lighten ) !default;
$ios-blue-200: lighten( $ios-blue, $multiplied-200-lighten ) !default;
$ios-blue-300: lighten( $ios-blue, $multiplied-300-lighten ) !default;
$ios-blue-400: lighten( $ios-blue, $multiplied-400-lighten ) !default;
$ios-blue-500: $ios-blue !default;
$ios-blue-600: darken( $ios-blue, $multiplied-600-darken ) !default;
$ios-blue-700: darken( $ios-blue, $multiplied-700-darken ) !default;
$ios-blue-800: darken( $ios-blue, $multiplied-800-darken ) !default;
$ios-blue-900: darken( $ios-blue, $multiplied-900-darken ) !default;
$ios-blue-a100: saturate(lighten($ios-blue, $multiplied-a100-lighten), $multiplied-a-saturate) !default;
$ios-blue-a200: saturate(lighten($ios-blue, $multiplied-a200-lighten), $multiplied-a-saturate) !default;
$ios-blue-a400: saturate(darken($ios-blue, $multiplied-a400-darken), $multiplied-a-saturate) !default;
$ios-blue-a700: saturate(darken($ios-blue, $multiplied-a700-darken), $multiplied-a-saturate) !default;

$ios-light-blue: #00A0FC !default;
$ios-light-blue-50: lighten( $ios-light-blue, $multiplied-50-lighten ) !default;
$ios-light-blue-100: lighten( $ios-light-blue, $multiplied-100-lighten ) !default;
$ios-light-blue-200: lighten( $ios-light-blue, $multiplied-200-lighten ) !default;
$ios-light-blue-300: lighten( $ios-light-blue, $multiplied-300-lighten ) !default;
$ios-light-blue-400: lighten( $ios-light-blue, $multiplied-400-lighten ) !default;
$ios-light-blue-500: $ios-light-blue !default;
$ios-light-blue-600: darken( $ios-light-blue, $multiplied-600-darken ) !default;
$ios-light-blue-700: darken( $ios-light-blue, $multiplied-700-darken ) !default;
$ios-light-blue-800: darken( $ios-light-blue, $multiplied-800-darken ) !default;
$ios-light-blue-900: darken( $ios-light-blue, $multiplied-900-darken ) !default;
$ios-light-blue-a100: saturate(lighten($ios-light-blue, $multiplied-a100-lighten), $multiplied-a-saturate) !default;
$ios-light-blue-a200: saturate(lighten($ios-light-blue, $multiplied-a200-lighten), $multiplied-a-saturate) !default;
$ios-light-blue-a400: saturate(darken($ios-light-blue, $multiplied-a400-darken), $multiplied-a-saturate) !default;
$ios-light-blue-a700: saturate(darken($ios-light-blue, $multiplied-a700-darken), $multiplied-a-saturate) !default;

$ios-cyan: #21c4da !default;
$ios-cyan-50: lighten( $ios-cyan, $multiplied-50-lighten ) !default;
$ios-cyan-100: lighten( $ios-cyan, $multiplied-100-lighten ) !default;
$ios-cyan-200: lighten( $ios-cyan, $multiplied-200-lighten ) !default;
$ios-cyan-300: lighten( $ios-cyan, $multiplied-300-lighten ) !default;
$ios-cyan-400: lighten( $ios-cyan, $multiplied-400-lighten ) !default;
$ios-cyan-500: $ios-cyan !default;
$ios-cyan-600: darken( $ios-cyan, $multiplied-600-darken ) !default;
$ios-cyan-700: darken( $ios-cyan, $multiplied-700-darken ) !default;
$ios-cyan-800: darken( $ios-cyan, $multiplied-800-darken ) !default;
$ios-cyan-900: darken( $ios-cyan, $multiplied-900-darken ) !default;
$ios-cyan-a100: saturate(lighten($ios-cyan, $multiplied-a100-lighten), $multiplied-a-saturate) !default;
$ios-cyan-a200: saturate(lighten($ios-cyan, $multiplied-a200-lighten), $multiplied-a-saturate) !default;
$ios-cyan-a400: saturate(darken($ios-cyan, $multiplied-a400-darken), $multiplied-a-saturate) !default;
$ios-cyan-a700: saturate(darken($ios-cyan, $multiplied-a700-darken), $multiplied-a-saturate) !default;

$ios-teal: #2ab9a5 !default;
$ios-teal-50: lighten( $ios-teal, $multiplied-50-lighten ) !default;
$ios-teal-100: lighten( $ios-teal, $multiplied-100-lighten ) !default;
$ios-teal-200: lighten( $ios-teal, $multiplied-200-lighten ) !default;
$ios-teal-300: lighten( $ios-teal, $multiplied-300-lighten ) !default;
$ios-teal-400: lighten( $ios-teal, $multiplied-400-lighten ) !default;
$ios-teal-500: $ios-teal !default;
$ios-teal-600: darken( $ios-teal, $multiplied-600-darken ) !default;
$ios-teal-700: darken( $ios-teal, $multiplied-700-darken ) !default;
$ios-teal-800: darken( $ios-teal, $multiplied-800-darken ) !default;
$ios-teal-900: darken( $ios-teal, $multiplied-900-darken ) !default;
$ios-teal-a100: saturate(lighten($ios-teal, $multiplied-a100-lighten), $multiplied-a-saturate) !default;
$ios-teal-a200: saturate(lighten($ios-teal, $multiplied-a200-lighten), $multiplied-a-saturate) !default;
$ios-teal-a400: saturate(darken($ios-teal, $multiplied-a400-darken), $multiplied-a-saturate) !default;
$ios-teal-a700: saturate(darken($ios-teal, $multiplied-a700-darken), $multiplied-a-saturate) !default;

$ios-green: #4CD963 !default;
$ios-green-50: lighten( $ios-green, $multiplied-50-lighten ) !default;
$ios-green-100: lighten( $ios-green, $multiplied-100-lighten ) !default;
$ios-green-200: lighten( $ios-green, $multiplied-200-lighten ) !default;
$ios-green-300: lighten( $ios-green, $multiplied-300-lighten ) !default;
$ios-green-400: lighten( $ios-green, $multiplied-400-lighten ) !default;
$ios-green-500: $ios-green !default;
$ios-green-600: darken( $ios-green, $multiplied-600-darken ) !default;
$ios-green-700: darken( $ios-green, $multiplied-700-darken ) !default;
$ios-green-800: darken( $ios-green, $multiplied-800-darken ) !default;
$ios-green-900: darken( $ios-green, $multiplied-900-darken ) !default;
$ios-green-a100: saturate(lighten($ios-green, $multiplied-a100-lighten), $multiplied-a-saturate) !default;
$ios-green-a200: saturate(lighten($ios-green, $multiplied-a200-lighten), $multiplied-a-saturate) !default;
$ios-green-a400: saturate(darken($ios-green, $multiplied-a400-darken), $multiplied-a-saturate) !default;
$ios-green-a700: saturate(darken($ios-green, $multiplied-a700-darken), $multiplied-a-saturate) !default;

$ios-light-green: #78de2b !default;
$ios-light-green-50: lighten( $ios-light-green, $multiplied-50-lighten ) !default;
$ios-light-green-100: lighten( $ios-light-green, $multiplied-100-lighten ) !default;
$ios-light-green-200: lighten( $ios-light-green, $multiplied-200-lighten ) !default;
$ios-light-green-300: lighten( $ios-light-green, $multiplied-300-lighten ) !default;
$ios-light-green-400: lighten( $ios-light-green, $multiplied-400-lighten ) !default;
$ios-light-green-500: $ios-light-green !default;
$ios-light-green-600: darken( $ios-light-green, $multiplied-600-darken ) !default;
$ios-light-green-700: darken( $ios-light-green, $multiplied-700-darken ) !default;
$ios-light-green-800: darken( $ios-light-green, $multiplied-800-darken ) !default;
$ios-light-green-900: darken( $ios-light-green, $multiplied-900-darken ) !default;
$ios-light-green-a100: saturate(lighten($ios-light-green, $multiplied-a100-lighten), $multiplied-a-saturate) !default;
$ios-light-green-a200: saturate(lighten($ios-light-green, $multiplied-a200-lighten), $multiplied-a-saturate) !default;
$ios-light-green-a400: saturate(darken($ios-light-green, $multiplied-a400-darken), $multiplied-a-saturate) !default;
$ios-light-green-a700: saturate(darken($ios-light-green, $multiplied-a700-darken), $multiplied-a-saturate) !default;

$ios-lime: #d1e22b !default;
$ios-lime-50: lighten( $ios-lime, $multiplied-50-lighten ) !default;
$ios-lime-100: lighten( $ios-lime, $multiplied-100-lighten ) !default;
$ios-lime-200: lighten( $ios-lime, $multiplied-200-lighten ) !default;
$ios-lime-300: lighten( $ios-lime, $multiplied-300-lighten ) !default;
$ios-lime-400: lighten( $ios-lime, $multiplied-400-lighten ) !default;
$ios-lime-500: $ios-lime !default;
$ios-lime-600: darken( $ios-lime, $multiplied-600-darken ) !default;
$ios-lime-700: darken( $ios-lime, $multiplied-700-darken ) !default;
$ios-lime-800: darken( $ios-lime, $multiplied-800-darken ) !default;
$ios-lime-900: darken( $ios-lime, $multiplied-900-darken ) !default;
$ios-lime-a100: saturate(lighten($ios-lime, $multiplied-a100-lighten), $multiplied-a-saturate) !default;
$ios-lime-a200: saturate(lighten($ios-lime, $multiplied-a200-lighten), $multiplied-a-saturate) !default;
$ios-lime-a400: saturate(darken($ios-lime, $multiplied-a400-darken), $multiplied-a-saturate) !default;
$ios-lime-a700: saturate(darken($ios-lime, $multiplied-a700-darken), $multiplied-a-saturate) !default;

$ios-yellow: #f7e227 !default;
$ios-yellow-50: lighten( $ios-yellow, $multiplied-50-lighten ) !default;
$ios-yellow-100: lighten( $ios-yellow, $multiplied-100-lighten ) !default;
$ios-yellow-200: lighten( $ios-yellow, $multiplied-200-lighten ) !default;
$ios-yellow-300: lighten( $ios-yellow, $multiplied-300-lighten ) !default;
$ios-yellow-400: lighten( $ios-yellow, $multiplied-400-lighten ) !default;
$ios-yellow-500: $ios-yellow !default;
$ios-yellow-600: darken( $ios-yellow, $multiplied-600-darken ) !default;
$ios-yellow-700: darken( $ios-yellow, $multiplied-700-darken ) !default;
$ios-yellow-800: darken( $ios-yellow, $multiplied-800-darken ) !default;
$ios-yellow-900: darken( $ios-yellow, $multiplied-900-darken ) !default;
$ios-yellow-a100: saturate(lighten($ios-yellow, $multiplied-a100-lighten), $multiplied-a-saturate) !default;
$ios-yellow-a200: saturate(lighten($ios-yellow, $multiplied-a200-lighten), $multiplied-a-saturate) !default;
$ios-yellow-a400: saturate(darken($ios-yellow, $multiplied-a400-darken), $multiplied-a-saturate) !default;
$ios-yellow-a700: saturate(darken($ios-yellow, $multiplied-a700-darken), $multiplied-a-saturate) !default;

$ios-amber: #F7B314 !default;
$ios-amber-50: lighten( $ios-amber, $multiplied-50-lighten ) !default;
$ios-amber-100: lighten( $ios-amber, $multiplied-100-lighten ) !default;
$ios-amber-200: lighten( $ios-amber, $multiplied-200-lighten ) !default;
$ios-amber-300: lighten( $ios-amber, $multiplied-300-lighten ) !default;
$ios-amber-400: lighten( $ios-amber, $multiplied-400-lighten ) !default;
$ios-amber-500: $ios-amber !default;
$ios-amber-600: darken( $ios-amber, $multiplied-600-darken ) !default;
$ios-amber-700: darken( $ios-amber, $multiplied-700-darken ) !default;
$ios-amber-800: darken( $ios-amber, $multiplied-800-darken ) !default;
$ios-amber-900: darken( $ios-amber, $multiplied-900-darken ) !default;
$ios-amber-a100: saturate(lighten($ios-amber, $multiplied-a100-lighten), $multiplied-a-saturate) !default;
$ios-amber-a200: saturate(lighten($ios-amber, $multiplied-a200-lighten), $multiplied-a-saturate) !default;
$ios-amber-a400: saturate(darken($ios-amber, $multiplied-a400-darken), $multiplied-a-saturate) !default;
$ios-amber-a700: saturate(darken($ios-amber, $multiplied-a700-darken), $multiplied-a-saturate) !default;

$ios-orange: #FF9500 !default;
$ios-orange-50: lighten( $ios-orange, $multiplied-50-lighten ) !default;
$ios-orange-100: lighten( $ios-orange, $multiplied-100-lighten ) !default;
$ios-orange-200: lighten( $ios-orange, $multiplied-200-lighten ) !default;
$ios-orange-300: lighten( $ios-orange, $multiplied-300-lighten ) !default;
$ios-orange-400: lighten( $ios-orange, $multiplied-400-lighten ) !default;
$ios-orange-500: $ios-orange !default;
$ios-orange-600: darken( $ios-orange, $multiplied-600-darken ) !default;
$ios-orange-700: darken( $ios-orange, $multiplied-700-darken ) !default;
$ios-orange-800: darken( $ios-orange, $multiplied-800-darken ) !default;
$ios-orange-900: darken( $ios-orange, $multiplied-900-darken ) !default;
$ios-orange-a100: saturate(lighten($ios-orange, $multiplied-a100-lighten), $multiplied-a-saturate) !default;
$ios-orange-a200: saturate(lighten($ios-orange, $multiplied-a200-lighten), $multiplied-a-saturate) !default;
$ios-orange-a400: saturate(darken($ios-orange, $multiplied-a400-darken), $multiplied-a-saturate) !default;
$ios-orange-a700: saturate(darken($ios-orange, $multiplied-a700-darken), $multiplied-a-saturate) !default;

$ios-deep-orange: #FF511A !default;
$ios-deep-orange-50: lighten( $ios-deep-orange, $multiplied-50-lighten ) !default;
$ios-deep-orange-100: lighten( $ios-deep-orange, $multiplied-100-lighten ) !default;
$ios-deep-orange-200: lighten( $ios-deep-orange, $multiplied-200-lighten ) !default;
$ios-deep-orange-300: lighten( $ios-deep-orange, $multiplied-300-lighten ) !default;
$ios-deep-orange-400: lighten( $ios-deep-orange, $multiplied-400-lighten ) !default;
$ios-deep-orange-500: $ios-deep-orange !default;
$ios-deep-orange-600: darken( $ios-deep-orange, $multiplied-600-darken ) !default;
$ios-deep-orange-700: darken( $ios-deep-orange, $multiplied-700-darken ) !default;
$ios-deep-orange-800: darken( $ios-deep-orange, $multiplied-800-darken ) !default;
$ios-deep-orange-900: darken( $ios-deep-orange, $multiplied-900-darken ) !default;
$ios-deep-orange-a100: saturate(lighten($ios-deep-orange, $multiplied-a100-lighten), $multiplied-a-saturate) !default;
$ios-deep-orange-a200: saturate(lighten($ios-deep-orange, $multiplied-a200-lighten), $multiplied-a-saturate) !default;
$ios-deep-orange-a400: saturate(darken($ios-deep-orange, $multiplied-a400-darken), $multiplied-a-saturate) !default;
$ios-deep-orange-a700: saturate(darken($ios-deep-orange, $multiplied-a700-darken), $multiplied-a-saturate) !default;

$ios-brown: #b17763 !default;
$ios-brown-50: lighten( $ios-brown, $multiplied-50-lighten ) !default;
$ios-brown-100: lighten( $ios-brown, $multiplied-100-lighten ) !default;
$ios-brown-200: lighten( $ios-brown, $multiplied-200-lighten ) !default;
$ios-brown-300: lighten( $ios-brown, $multiplied-300-lighten ) !default;
$ios-brown-400: lighten( $ios-brown, $multiplied-400-lighten ) !default;
$ios-brown-500: $ios-brown !default;
$ios-brown-600: darken( $ios-brown, $multiplied-600-darken ) !default;
$ios-brown-700: darken( $ios-brown, $multiplied-700-darken ) !default;
$ios-brown-800: darken( $ios-brown, $multiplied-800-darken ) !default;
$ios-brown-900: darken( $ios-brown, $multiplied-900-darken ) !default;

$ios-grey: #9e9e9e !default;
$ios-grey-50: lighten( $ios-grey, $multiplied-50-lighten ) !default;
$ios-grey-100: lighten( $ios-grey, $multiplied-100-lighten ) !default;
$ios-grey-200: lighten( $ios-grey, $multiplied-200-lighten ) !default;
$ios-grey-300: lighten( $ios-grey, $multiplied-300-lighten ) !default;
$ios-grey-400: lighten( $ios-grey, $multiplied-400-lighten ) !default;
$ios-grey-500: $ios-grey !default;
$ios-grey-600: darken( $ios-grey, $multiplied-600-darken * 1.5 ) !default;
$ios-grey-700: darken( $ios-grey, $multiplied-700-darken * 1.5 ) !default;
$ios-grey-800: darken( $ios-grey, $multiplied-800-darken * 1.5 ) !default;
$ios-grey-900: darken( $ios-grey, $multiplied-900-darken * 1.5 ) !default;

$ios-blue-grey: #6e95a9 !default;
$ios-blue-grey-50: lighten( $ios-blue-grey, $multiplied-50-lighten ) !default;
$ios-blue-grey-100: lighten( $ios-blue-grey, $multiplied-100-lighten ) !default;
$ios-blue-grey-200: lighten( $ios-blue-grey, $multiplied-200-lighten ) !default;
$ios-blue-grey-300: lighten( $ios-blue-grey, $multiplied-300-lighten ) !default;
$ios-blue-grey-400: lighten( $ios-blue-grey, $multiplied-400-lighten ) !default;
$ios-blue-grey-500: $ios-blue-grey !default;
$ios-blue-grey-600: darken( $ios-blue-grey, $multiplied-600-darken ) !default;
$ios-blue-grey-700: darken( $ios-blue-grey, $multiplied-700-darken ) !default;
$ios-blue-grey-800: darken( $ios-blue-grey, $multiplied-800-darken ) !default;
$ios-blue-grey-900: darken( $ios-blue-grey, $multiplied-900-darken ) !default;

$ios-black: #000000 !default;
$ios-white: #ffffff !default;