//----------------------------------------------------
// SCSS Variable: MDTONE v1.0.1 CC0 by Qrac
//----------------------------------------------------

$md-red-50: lighten(desaturate(#ffebee, 0%),0%) !default;
$md-red-100: lighten(desaturate(#ffcdd2, 0%),0%) !default;
$md-red-200: lighten(desaturate(#ef9a9a, 0%),0%) !default;
$md-red-300: lighten(desaturate(#e57373, 0%),0%) !default;
$md-red-400: lighten(desaturate(#ef5350, 0%),0%) !default;
$md-red-500: lighten(desaturate(#f44336, 0%),0%) !default;
$md-red-600: lighten(desaturate(#e53935, 0%),0%) !default;
$md-red-700: lighten(desaturate(#d32f2f, 0%),0%) !default;
$md-red-800: lighten(desaturate(#c62828, 0%),0%) !default;
$md-red-900: lighten(desaturate(#b71c1c, 0%),0%) !default;
$md-red-a100: lighten(desaturate(#ff8a80, 0%),0%) !default;
$md-red-a200: lighten(desaturate(#ff5252, 0%),0%) !default;
$md-red-a400: lighten(desaturate(#ff1744, 0%),0%) !default;
$md-red-a700: lighten(desaturate(#d50000, 0%),0%) !default;

$md-pink-50: lighten(desaturate(#fce4ec, 0%),0%) !default;
$md-pink-100: lighten(desaturate(#f8bbd0, 0%),0%) !default;
$md-pink-200: lighten(desaturate(#f48fb1, 0%),0%) !default;
$md-pink-300: lighten(desaturate(#f06292, 0%),0%) !default;
$md-pink-400: lighten(desaturate(#ec407a, 0%),0%) !default;
$md-pink-500: lighten(desaturate(#e91e63, 0%),0%) !default;
$md-pink-600: lighten(desaturate(#d81b60, 0%),0%) !default;
$md-pink-700: lighten(desaturate(#c2185b, 0%),0%) !default;
$md-pink-800: lighten(desaturate(#ad1457, 0%),0%) !default;
$md-pink-900: lighten(desaturate(#880e4f, 0%),0%) !default;
$md-pink-a100: lighten(desaturate(#ff80ab, 0%),0%) !default;
$md-pink-a200: lighten(desaturate(#ff4081, 0%),0%) !default;
$md-pink-a400: lighten(desaturate(#f50057, 0%),0%) !default;
$md-pink-a700: lighten(desaturate(#c51162, 0%),0%) !default;

$md-purple-50: lighten(desaturate(#f3e5f5, 0%),0%) !default;
$md-purple-100: lighten(desaturate(#e1bee7, 0%),0%) !default;
$md-purple-200: lighten(desaturate(#ce93d8, 0%),0%) !default;
$md-purple-300: lighten(desaturate(#ba68c8, 0%),0%) !default;
$md-purple-400: lighten(desaturate(#ab47bc, 0%),0%) !default;
$md-purple-500: lighten(desaturate(#9c27b0, 0%),0%) !default;
$md-purple-600: lighten(desaturate(#8e24aa, 0%),0%) !default;
$md-purple-700: lighten(desaturate(#7b1fa2, 0%),0%) !default;
$md-purple-800: lighten(desaturate(#6a1b9a, 0%),0%) !default;
$md-purple-900: lighten(desaturate(#4a148c, 0%),0%) !default;
$md-purple-a100: lighten(desaturate(#ea80fc, 0%),0%) !default;
$md-purple-a200: lighten(desaturate(#e040fb, 0%),0%) !default;
$md-purple-a400: lighten(desaturate(#d500f9, 0%),0%) !default;
$md-purple-a700: lighten(desaturate(#aa00ff, 0%),0%) !default;

$md-deep-purple-50: lighten(desaturate(#ede7f6, 0%),0%) !default;
$md-deep-purple-100: lighten(desaturate(#d1c4e9, 0%),0%) !default;
$md-deep-purple-200: lighten(desaturate(#b39ddb, 0%),0%) !default;
$md-deep-purple-300: lighten(desaturate(#9575cd, 0%),0%) !default;
$md-deep-purple-400: lighten(desaturate(#7e57c2, 0%),0%) !default;
$md-deep-purple-500: lighten(desaturate(#673ab7, 0%),0%) !default;
$md-deep-purple-600: lighten(desaturate(#5e35b1, 0%),0%) !default;
$md-deep-purple-700: lighten(desaturate(#512da8, 0%),0%) !default;
$md-deep-purple-800: lighten(desaturate(#4527a0, 0%),0%) !default;
$md-deep-purple-900: lighten(desaturate(#311b92, 0%),0%) !default;
$md-deep-purple-a100: lighten(desaturate(#b388ff, 0%),0%) !default;
$md-deep-purple-a200: lighten(desaturate(#7c4dff, 0%),0%) !default;
$md-deep-purple-a400: lighten(desaturate(#651fff, 0%),0%) !default;
$md-deep-purple-a700: lighten(desaturate(#6200ea, 0%),0%) !default;

$md-indigo-50: lighten(desaturate(#e8eaf6, 0%),0%) !default;
$md-indigo-100: lighten(desaturate(#c5cae9, 0%),0%) !default;
$md-indigo-200: lighten(desaturate(#9fa8da, 0%),0%) !default;
$md-indigo-300: lighten(desaturate(#7986cb, 0%),0%) !default;
$md-indigo-400: lighten(desaturate(#5c6bc0, 0%),0%) !default;
$md-indigo-500: lighten(desaturate(#3f51b5, 0%),0%) !default;
$md-indigo-600: lighten(desaturate(#3949ab, 0%),0%) !default;
$md-indigo-700: lighten(desaturate(#303f9f, 0%),0%) !default;
$md-indigo-800: lighten(desaturate(#283593, 0%),0%) !default;
$md-indigo-900: lighten(desaturate(#1a237e, 0%),0%) !default;
$md-indigo-a100: lighten(desaturate(#8c9eff, 0%),0%) !default;
$md-indigo-a200: lighten(desaturate(#536dfe, 0%),0%) !default;
$md-indigo-a400: lighten(desaturate(#3d5afe, 0%),0%) !default;
$md-indigo-a700: lighten(desaturate(#304ffe, 0%),0%) !default;

$md-blue-50: lighten(desaturate(#e3f2fd, 0%),0%) !default;
$md-blue-100: lighten(desaturate(#bbdefb, 0%),0%) !default;
$md-blue-200: lighten(desaturate(#90caf9, 0%),0%) !default;
$md-blue-300: lighten(desaturate(#64b5f6, 0%),0%) !default;
$md-blue-400: lighten(desaturate(#42a5f5, 0%),0%) !default;
$md-blue-500: lighten(desaturate(#2196f3, 0%),0%) !default;
$md-blue-600: lighten(desaturate(#1e88e5, 0%),0%) !default;
$md-blue-700: lighten(desaturate(#1976d2, 0%),0%) !default;
$md-blue-800: lighten(desaturate(#1565c0, 0%),0%) !default;
$md-blue-900: lighten(desaturate(#0d47a1, 0%),0%) !default;
$md-blue-a100: lighten(desaturate(#82b1ff, 0%),0%) !default;
$md-blue-a200: lighten(desaturate(#448aff, 0%),0%) !default;
$md-blue-a400: lighten(desaturate(#2979ff, 0%),0%) !default;
$md-blue-a700: lighten(desaturate(#2962ff, 0%),0%) !default;

$md-light-blue-50: lighten(desaturate(#e1f5fe, 0%),0%) !default;
$md-light-blue-100: lighten(desaturate(#b3e5fc, 0%),0%) !default;
$md-light-blue-200: lighten(desaturate(#81d4fa, 0%),0%) !default;
$md-light-blue-300: lighten(desaturate(#4fc3f7, 0%),0%) !default;
$md-light-blue-400: lighten(desaturate(#29b6f6, 0%),0%) !default;
$md-light-blue-500: lighten(desaturate(#03a9f4, 0%),0%) !default;
$md-light-blue-600: lighten(desaturate(#039be5, 0%),0%) !default;
$md-light-blue-700: lighten(desaturate(#0288d1, 0%),0%) !default;
$md-light-blue-800: lighten(desaturate(#0277bd, 0%),0%) !default;
$md-light-blue-900: lighten(desaturate(#01579b, 0%),0%) !default;
$md-light-blue-a100: lighten(desaturate(#80d8ff, 0%),0%) !default;
$md-light-blue-a200: lighten(desaturate(#40c4ff, 0%),0%) !default;
$md-light-blue-a400: lighten(desaturate(#00b0ff, 0%),0%) !default;
$md-light-blue-a700: lighten(desaturate(#0091ea, 0%),0%) !default;

$md-cyan-50: lighten(desaturate(#e0f7fa, 0%),0%) !default;
$md-cyan-100: lighten(desaturate(#b2ebf2, 0%),0%) !default;
$md-cyan-200: lighten(desaturate(#80deea, 0%),0%) !default;
$md-cyan-300: lighten(desaturate(#4dd0e1, 0%),0%) !default;
$md-cyan-400: lighten(desaturate(#26c6da, 0%),0%) !default;
$md-cyan-500: lighten(desaturate(#00bcd4, 0%),0%) !default;
$md-cyan-600: lighten(desaturate(#00acc1, 0%),0%) !default;
$md-cyan-700: lighten(desaturate(#0097a7, 0%),0%) !default;
$md-cyan-800: lighten(desaturate(#00838f, 0%),0%) !default;
$md-cyan-900: lighten(desaturate(#006064, 0%),0%) !default;
$md-cyan-a100: lighten(desaturate(#84ffff, 0%),0%) !default;
$md-cyan-a200: lighten(desaturate(#18ffff, 0%),0%) !default;
$md-cyan-a400: lighten(desaturate(#00e5ff, 0%),0%) !default;
$md-cyan-a700: lighten(desaturate(#00b8d4, 0%),0%) !default;

$md-teal-50: lighten(desaturate(#e0f2f1, 0%),0%) !default;
$md-teal-100: lighten(desaturate(#b2dfdb, 0%),0%) !default;
$md-teal-200: lighten(desaturate(#80cbc4, 0%),0%) !default;
$md-teal-300: lighten(desaturate(#4db6ac, 0%),0%) !default;
$md-teal-400: lighten(desaturate(#26a69a, 0%),0%) !default;
$md-teal-500: lighten(desaturate(#009688, 0%),0%) !default;
$md-teal-600: lighten(desaturate(#00897b, 0%),0%) !default;
$md-teal-700: lighten(desaturate(#00796b, 0%),0%) !default;
$md-teal-800: lighten(desaturate(#00695c, 0%),0%) !default;
$md-teal-900: lighten(desaturate(#004d40, 0%),0%) !default;
$md-teal-a100: lighten(desaturate(#a7ffeb, 0%),0%) !default;
$md-teal-a200: lighten(desaturate(#64ffda, 0%),0%) !default;
$md-teal-a400: lighten(desaturate(#1de9b6, 0%),0%) !default;
$md-teal-a700: lighten(desaturate(#00bfa5, 0%),0%) !default;

$md-green-50: lighten(desaturate(#e8f5e9, 0%),0%) !default;
$md-green-100: lighten(desaturate(#c8e6c9, 0%),0%) !default;
$md-green-200: lighten(desaturate(#a5d6a7, 0%),0%) !default;
$md-green-300: lighten(desaturate(#81c784, 0%),0%) !default;
$md-green-400: lighten(desaturate(#66bb6a, 0%),0%) !default;
$md-green-500: lighten(desaturate(#4caf50, 0%),0%) !default;
$md-green-600: lighten(desaturate(#43a047, 0%),0%) !default;
$md-green-700: lighten(desaturate(#388e3c, 0%),0%) !default;
$md-green-800: lighten(desaturate(#2e7d32, 0%),0%) !default;
$md-green-900: lighten(desaturate(#1b5e20, 0%),0%) !default;
$md-green-a100: lighten(desaturate(#b9f6ca, 0%),0%) !default;
$md-green-a200: lighten(desaturate(#69f0ae, 0%),0%) !default;
$md-green-a400: lighten(desaturate(#00e676, 0%),0%) !default;
$md-green-a700: lighten(desaturate(#00c853, 0%),0%) !default;

$md-light-green-50: lighten(desaturate(#f1f8e9, 0%),0%) !default;
$md-light-green-100: lighten(desaturate(#dcedc8, 0%),0%) !default;
$md-light-green-200: lighten(desaturate(#c5e1a5, 0%),0%) !default;
$md-light-green-300: lighten(desaturate(#aed581, 0%),0%) !default;
$md-light-green-400: lighten(desaturate(#9ccc65, 0%),0%) !default;
$md-light-green-500: lighten(desaturate(#8bc34a, 0%),0%) !default;
$md-light-green-600: lighten(desaturate(#7cb342, 0%),0%) !default;
$md-light-green-700: lighten(desaturate(#689f38, 0%),0%) !default;
$md-light-green-800: lighten(desaturate(#558b2f, 0%),0%) !default;
$md-light-green-900: lighten(desaturate(#33691e, 0%),0%) !default;
$md-light-green-a100: lighten(desaturate(#ccff90, 0%),0%) !default;
$md-light-green-a200: lighten(desaturate(#b2ff59, 0%),0%) !default;
$md-light-green-a400: lighten(desaturate(#76ff03, 0%),0%) !default;
$md-light-green-a700: lighten(desaturate(#64dd17, 0%),0%) !default;

$md-lime-50: lighten(desaturate(#f9fbe7, 0%),0%) !default;
$md-lime-100: lighten(desaturate(#f0f4c3, 0%),0%) !default;
$md-lime-200: lighten(desaturate(#e6ee9c, 0%),0%) !default;
$md-lime-300: lighten(desaturate(#dce775, 0%),0%) !default;
$md-lime-400: lighten(desaturate(#d4e157, 0%),0%) !default;
$md-lime-500: lighten(desaturate(#cddc39, 0%),0%) !default;
$md-lime-600: lighten(desaturate(#c0ca33, 0%),0%) !default;
$md-lime-700: lighten(desaturate(#afb42b, 0%),0%) !default;
$md-lime-800: lighten(desaturate(#9e9d24, 0%),0%) !default;
$md-lime-900: lighten(desaturate(#827717, 0%),0%) !default;
$md-lime-a100: lighten(desaturate(#f4ff81, 0%),0%) !default;
$md-lime-a200: lighten(desaturate(#eeff41, 0%),0%) !default;
$md-lime-a400: lighten(desaturate(#c6ff00, 0%),0%) !default;
$md-lime-a700: lighten(desaturate(#aeea00, 0%),0%) !default;

$md-yellow-50: lighten(desaturate(#fffde7, 0%),0%) !default;
$md-yellow-100: lighten(desaturate(#fff9c4, 0%),0%) !default;
$md-yellow-200: lighten(desaturate(#fff59d, 0%),0%) !default;
$md-yellow-300: lighten(desaturate(#fff176, 0%),0%) !default;
$md-yellow-400: lighten(desaturate(#ffee58, 0%),0%) !default;
$md-yellow-500: lighten(desaturate(#ffeb3b, 0%),0%) !default;
$md-yellow-600: lighten(desaturate(#fdd835, 0%),0%) !default;
$md-yellow-700: lighten(desaturate(#fbc02d, 0%),0%) !default;
$md-yellow-800: lighten(desaturate(#f9a825, 0%),0%) !default;
$md-yellow-900: lighten(desaturate(#f57f17, 0%),0%) !default;
$md-yellow-a100: lighten(desaturate(#ffff8d, 0%),0%) !default;
$md-yellow-a200: lighten(desaturate(#ffff00, 0%),0%) !default;
$md-yellow-a400: lighten(desaturate(#ffea00, 0%),0%) !default;
$md-yellow-a700: lighten(desaturate(#ffd600, 0%),0%) !default;

$md-amber-50: lighten(desaturate(#fff8e1, 0%),0%) !default;
$md-amber-100: lighten(desaturate(#ffecb3, 0%),0%) !default;
$md-amber-200: lighten(desaturate(#ffe082, 0%),0%) !default;
$md-amber-300: lighten(desaturate(#ffd54f, 0%),0%) !default;
$md-amber-400: lighten(desaturate(#ffca28, 0%),0%) !default;
$md-amber-500: lighten(desaturate(#ffc107, 0%),0%) !default;
$md-amber-600: lighten(desaturate(#ffb300, 0%),0%) !default;
$md-amber-700: lighten(desaturate(#ffa000, 0%),0%) !default;
$md-amber-800: lighten(desaturate(#ff8f00, 0%),0%) !default;
$md-amber-900: lighten(desaturate(#ff6f00, 0%),0%) !default;
$md-amber-a100: lighten(desaturate(#ffe57f, 0%),0%) !default;
$md-amber-a200: lighten(desaturate(#ffd740, 0%),0%) !default;
$md-amber-a400: lighten(desaturate(#ffc400, 0%),0%) !default;
$md-amber-a700: lighten(desaturate(#ffab00, 0%),0%) !default;

$md-orange-50: lighten(desaturate(#fff3e0, 0%),0%) !default;
$md-orange-100: lighten(desaturate(#ffe0b2, 0%),0%) !default;
$md-orange-200: lighten(desaturate(#ffcc80, 0%),0%) !default;
$md-orange-300: lighten(desaturate(#ffb74d, 0%),0%) !default;
$md-orange-400: lighten(desaturate(#ffa726, 0%),0%) !default;
$md-orange-500: lighten(desaturate(#ff9800, 0%),0%) !default;
$md-orange-600: lighten(desaturate(#fb8c00, 0%),0%) !default;
$md-orange-700: lighten(desaturate(#f57c00, 0%),0%) !default;
$md-orange-800: lighten(desaturate(#ef6c00, 0%),0%) !default;
$md-orange-900: lighten(desaturate(#e65100, 0%),0%) !default;
$md-orange-a100: lighten(desaturate(#ffd180, 0%),0%) !default;
$md-orange-a200: lighten(desaturate(#ffab40, 0%),0%) !default;
$md-orange-a400: lighten(desaturate(#ff9100, 0%),0%) !default;
$md-orange-a700: lighten(desaturate(#ff6d00, 0%),0%) !default;

$md-deep-orange-50: lighten(desaturate(#fbe9e7, 0%),0%) !default;
$md-deep-orange-100: lighten(desaturate(#ffccbc, 0%),0%) !default;
$md-deep-orange-200: lighten(desaturate(#ffab91, 0%),0%) !default;
$md-deep-orange-300: lighten(desaturate(#ff8a65, 0%),0%) !default;
$md-deep-orange-400: lighten(desaturate(#ff7043, 0%),0%) !default;
$md-deep-orange-500: lighten(desaturate(#ff5722, 0%),0%) !default;
$md-deep-orange-600: lighten(desaturate(#f4511e, 0%),0%) !default;
$md-deep-orange-700: lighten(desaturate(#e64a19, 0%),0%) !default;
$md-deep-orange-800: lighten(desaturate(#d84315, 0%),0%) !default;
$md-deep-orange-900: lighten(desaturate(#bf360c, 0%),0%) !default;
$md-deep-orange-a100: lighten(desaturate(#ff9e80, 0%),0%) !default;
$md-deep-orange-a200: lighten(desaturate(#ff6e40, 0%),0%) !default;
$md-deep-orange-a400: lighten(desaturate(#ff3d00, 0%),0%) !default;
$md-deep-orange-a700: lighten(desaturate(#dd2c00, 0%),0%) !default;

$md-brown-50: lighten(desaturate(#efebe9, 0%),0%) !default;
$md-brown-100: lighten(desaturate(#d7ccc8, 0%),0%) !default;
$md-brown-200: lighten(desaturate(#bcaaa4, 0%),0%) !default;
$md-brown-300: lighten(desaturate(#a1887f, 0%),0%) !default;
$md-brown-400: lighten(desaturate(#8d6e63, 0%),0%) !default;
$md-brown-500: lighten(desaturate(#795548, 0%),0%) !default;
$md-brown-600: lighten(desaturate(#6d4c41, 0%),0%) !default;
$md-brown-700: lighten(desaturate(#5d4037, 0%),0%) !default;
$md-brown-800: lighten(desaturate(#4e342e, 0%),0%) !default;
$md-brown-900: lighten(desaturate(#3e2723, 0%),0%) !default;

$md-grey-50: lighten(desaturate(#fafafa, 0%),0%) !default;
$md-grey-100: lighten(desaturate(#f5f5f5, 0%),0%) !default;
$md-grey-200: lighten(desaturate(#eeeeee, 0%),0%) !default;
$md-grey-300: lighten(desaturate(#e0e0e0, 0%),0%) !default;
$md-grey-400: lighten(desaturate(#bdbdbd, 0%),0%) !default;
$md-grey-500: lighten(desaturate(#9e9e9e, 0%),0%) !default;
$md-grey-600: lighten(desaturate(#757575, 0%),0%) !default;
$md-grey-700: lighten(desaturate(#616161, 0%),0%) !default;
$md-grey-800: lighten(desaturate(#424242, 0%),0%) !default;
$md-grey-900: lighten(desaturate(#212121, 0%),0%) !default;

$md-blue-grey-50: lighten(desaturate(#eceff1, 0%),0%) !default;
$md-blue-grey-100: lighten(desaturate(#cfd8dc, 0%),0%) !default;
$md-blue-grey-200: lighten(desaturate(#b0bec5, 0%),0%) !default;
$md-blue-grey-300: lighten(desaturate(#90a4ae, 0%),0%) !default;
$md-blue-grey-400: lighten(desaturate(#78909c, 0%),0%) !default;
$md-blue-grey-500: lighten(desaturate(#607d8b, 0%),0%) !default;
$md-blue-grey-600: lighten(desaturate(#546e7a, 0%),0%) !default;
$md-blue-grey-700: lighten(desaturate(#455a64, 0%),0%) !default;
$md-blue-grey-800: lighten(desaturate(#37474f, 0%),0%) !default;
$md-blue-grey-900: lighten(desaturate(#263238, 0%),0%) !default;

$md-black: #000000 !default;
$md-white: #ffffff !default;