/* Yaku Han JP Demo CSS */

.yakuhanjp.yakuhanjp-demo {
  background: linear-gradient(90deg, #ddd 50%, #F2F2F2 50%);
  font-family: YakuHanJP, -apple-system, BlinkMacSystemFont, "Segoe UI", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans Japanese", Meiryo, "Yu Gothic Medium", sans-serif;
}

.grid.is-gap-one-quarter:not(.is-gap-none) {
  margin-left: -0.125em;
  margin-bottom: -0.125em;
}

.grid.is-gap-one-quarter:not(.is-gap-none) > .col {
  padding-left: 0.125em;
  padding-bottom: 0.125em;
}

.grid.is-gap-6x:not(.is-gap-none) {
  margin-left: -3em;
  margin-bottom: -3em;
}

.grid.is-gap-6x:not(.is-gap-none) > .col {
  padding-left: 3em;
  padding-bottom: 3em;
}

.grid.is-gap-6x:not(.is-gap-none) + .grid.is-gap-6x:not(.is-gap-none) {
  margin-top: 3em;
}

.grid > .col > .box {
  -webkit-box-flex: 1;
  flex: 1 0 0%;
}

.grid > .col > .box.is-bg-smoke {
  background-color: whitesmoke;
}

.grid > .col > .box.is-bg-white {
  background-color: #ffffff;
}

.grid > .col > .box.is-before {
  position: relative;
  background-color: whitesmoke;
}

.grid > .col > .box.is-before:before {
  content: "Before";
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px 7px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-size: 62.5%;
}

.grid > .col > .box.is-after {
  position: relative;
  background-color: #ffffff;
}

.grid > .col > .box.is-after:after {
  content: "After";
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 7px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-size: 62.5%;
}

.grid > .col > .box > .inner {
  padding: 1.25em;
}

.col.is-fit {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
}

.section.is-topcover {
  position: relative;
  padding: 0.75em 0 2.25em;
  background-image: linear-gradient(90deg, #1a1a1a 50%, #4d4d4d 50%);
}

.section.is-topcover .box.is-bg-logo {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: calc(100vh - 3em);
  background-image: url("../img/icon-yakuhanjp.svg");
  background-position: center center;
  background-size: cover;
}

.section.is-topcover .obj.is-scroll-point {
  position: absolute;
  bottom: 0.5em;
  left: 50%;
  display: inline-block;
  padding: 1em;
  color: rgba(255, 255, 255, 0.6);
  transition: ease-out 0.12s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 50;
}

.section.is-topcover .obj.is-scroll-point:hover {
  color: #ffffff;
}

.section.is-main-content {
  padding: 3em 0 4.5em;
}

.section.is-main-content.is-example {
  background-color: rgba(0, 0, 0, 0.05);
}

.section.is-main-content.is-howtouse {
  background-color: rgba(0, 0, 0, 0.05);
}

.section.is-main-content.is-support {
  background-color: rgba(0, 0, 0, 0.05);
}

.section.is-main-content > .inner-vw > .heading + .group {
  margin-top: 2em;
}

.section.is-footer {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 40px 0 10px;
}

.group.is-card,
.content.is-card {
  background-color: #ffffff;
}

.group.is-card > .inner,
.content.is-card > .inner {
  padding: 1.25em;
}

.group.is-card > .inner.is-bottom-up,
.content.is-card > .inner.is-bottom-up {
  padding: 1.25em 1.25em 2.5em;
}

.group.is-bg-smoke-white {
  background: linear-gradient(90deg, whitesmoke 50%, #ffffff 50%);
}

.list > .item.is-block + .item.is-block {
  margin-top: 1em;
}

.logo.is-title {
  width: 70px;
  border: 1px solid #ffffff;
}

.obj.is-footer-logo {
  display: block;
  width: 8em;
}

.simulator-tabs {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.simulator-tab {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
  flex: 1 0 auto;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 0.375em 1.75em;
  background-color: #fafafa;
  transition: ease 0.12s;
}

.simulator-tab:not(.is-active) {
  cursor: pointer;
}

.simulator-tab:not(.is-active):not(.is-disable):hover,
.simulator-tab:not(.is-active):not(.is-disable):active {
  background-color: #1cb4c7;
  color: #ffffff;
}

.simulator-tab.is-active {
  font-weight: 700;
}

.simulator-tab.is-active:not(.is-disable) {
  color: #1cb4c7;
}

.simulator-tab.is-disable {
  color: #d75653;
  text-decoration: line-through;
}

.howtouse-tabs {
  display: -webkit-box;
  display: flex;
}

.howtouse-tab {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-flex: 1;
  flex: 1 0 0%;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 0.75em 1.5em;
  background-color: #757575;
  color: #ffffff;
  transition: ease 0.12s;
}

.howtouse-tab:not(.is-active) {
  cursor: pointer;
}

.howtouse-tab:not(.is-active):hover,
.howtouse-tab:not(.is-active):active {
  background-color: #1cb4c7;
  color: #ffffff;
}

.howtouse-tab.is-active {
  background-color: #ffffff;
  color: #1cb4c7;
  font-weight: 700;
}

.howtouse-tab > .fab.fa-npm {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.howtouse-tab > .fas + .text,
.howtouse-tab > .fab + .text {
  margin-left: 0;
}

.js-tab-content:not(.is-active) {
  display: none;
}

.table .box.is-paint,
.table .box.is-paint-5 {
  background-color: rgba(0, 0, 0, 0.7);
}

.text.is-title {
  font-size: 2.5em;
  font-weight: 900;
  font-family: "Lato", sans-serif;
  line-height: 1.25;
}

.texts.is-before,
.texts.is-after {
  transition: ease 0.2s;
}

.texts.is-include-fonts {
  font-size: 120%;
}

.pre {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0;
  color: #ffffff;
}

.pre,
.code {
  color: #ffffff;
}

:not(.pre) > .code {
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
}

.wysiwyg code,
.wysiwyg pre {
  border-radius: 0;
  color: #eeeeee;
}

.is-font-sans {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans Japanese", Meiryo, "Yu Gothic Medium", sans-serif;
}

.is-font-sans-yakuhanjp {
  font-family: YakuHanJP, -apple-system, BlinkMacSystemFont, "Segoe UI", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans Japanese", Meiryo, "Yu Gothic Medium", sans-serif;
}

.is-font-sans-yakuhanjps {
  font-family: YakuHanJPs, -apple-system, BlinkMacSystemFont, "Segoe UI", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans Japanese", Meiryo, "Yu Gothic Medium", sans-serif;
}

.is-font-sans-hiragino {
  font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans Japanese", Meiryo, "Yu Gothic Medium", sans-serif;
}

.is-font-sans-hiragino-yakuhanjp {
  font-family: YakuHanJP, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans Japanese", Meiryo, "Yu Gothic Medium", sans-serif;
}

.is-font-sans-hiragino-yakuhanjps {
  font-family: YakuHanJPs, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans Japanese", Meiryo, "Yu Gothic Medium", sans-serif;
}

.is-font-sans-yugo {
  font-family: "Yu Gothic", YuGothic, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans Japanese", Meiryo, "Yu Gothic Medium", sans-serif;
}

.is-font-sans-yugo-yakuhanjp {
  font-family: YakuHanJP, "Yu Gothic", YuGothic, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans Japanese", Meiryo, "Yu Gothic Medium", sans-serif;
}

.is-font-sans-yugo-yakuhanjps {
  font-family: YakuHanJPs, "Yu Gothic", YuGothic, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans Japanese", Meiryo, "Yu Gothic Medium", sans-serif;
}

.is-font-sans-noto {
  font-family: "Noto Sans Japanese", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "Yu Gothic Medium", sans-serif;
}

.is-font-sans-noto-yakuhanjp {
  font-family: YakuHanJP, "Noto Sans Japanese", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "Yu Gothic Medium", sans-serif;
}

.is-font-sans-noto-yakuhanjps {
  font-family: YakuHanJPs, "Noto Sans Japanese", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "Yu Gothic Medium", sans-serif;
}

.is-font-sans-meiryo {
  font-family: Meiryo, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans Japanese", "Yu Gothic Medium", sans-serif;
}

.is-font-sans-meiryo-yakuhanjp {
  font-family: YakuHanJP, Meiryo, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans Japanese", "Yu Gothic Medium", sans-serif;
}

.is-font-sans-meiryo-yakuhanjps {
  font-family: YakuHanJPs, Meiryo, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans Japanese", "Yu Gothic Medium", sans-serif;
}

.is-font-serif {
  font-family: "Hiragino Mincho ProN", "Noto Serif Japanese", "Yu Mincho", YuMincho, serif;
}

.is-font-serif-yakuhanmp {
  font-family: YakuHanMP, "Hiragino Mincho ProN", "Noto Serif Japanese", "Yu Mincho", YuMincho, serif;
}

.is-font-serif-yakuhanmps {
  font-family: YakuHanMPs, "Hiragino Mincho ProN", "Noto Serif Japanese", "Yu Mincho", YuMincho, serif;
}

.is-font-serif-hiragino {
  font-family: "Hiragino Mincho ProN", "Noto Serif Japanese", "Yu Mincho", YuMincho, serif;
}

.is-font-serif-hiragino-yakuhanmp {
  font-family: YakuHanMP, "Hiragino Mincho ProN", "Noto Serif Japanese", "Yu Mincho", YuMincho, serif;
}

.is-font-serif-hiragino-yakuhanmps {
  font-family: YakuHanMPs, "Hiragino Mincho ProN", "Noto Serif Japanese", "Yu Mincho", YuMincho, serif;
}

.is-font-serif-yumi {
  font-family: "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Noto Serif Japanese", serif;
}

.is-font-serif-yumi-yakuhanmp {
  font-family: YakuHanMP, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Noto Serif Japanese", serif;
}

.is-font-serif-yumi-yakuhanmps {
  font-family: YakuHanMPs, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Noto Serif Japanese", serif;
}

.is-font-serif-noto {
  font-family: "Noto Serif Japanese", "Hiragino Mincho ProN", "Yu Mincho", YuMincho, serif;
}

.is-font-serif-noto-yakuhanmp {
  font-family: YakuHanMP, "Noto Serif Japanese", "Hiragino Mincho ProN", "Yu Mincho", YuMincho, serif;
}

.is-font-serif-noto-yakuhanmps {
  font-family: YakuHanMPs, "Noto Serif Japanese", "Hiragino Mincho ProN", "Yu Mincho", YuMincho, serif;
}

.is-font-serif-meiryo {
  font-family: meiryo, "Hiragino Mincho ProN", "Yu Mincho", YuMincho, serif;
}

.is-font-serif-meiryo-yakuhanmp {
  font-family: YakuHanMP, meiryo, "Hiragino Mincho ProN", "Yu Mincho", YuMincho, serif;
}

.is-font-serif-meiryo-yakuhanmps {
  font-family: YakuHanMPs, meiryo, "Hiragino Mincho ProN", "Yu Mincho", YuMincho, serif;
}

.is-font-round,
.is-font-round-hiragino,
.is-font-round-yugo,
.is-font-round-noto,
.is-font-round-meiryo {
  font-family: "Rounded Mplus 1c", -apple-system, BlinkMacSystemFont, "Segoe UI", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans Japanese", Meiryo, "Yu Gothic Medium", sans-serif;
}

.is-font-round-yakuhanrp,
.is-font-round-hiragino-yakuhanrp,
.is-font-round-yugo-yakuhanrp,
.is-font-round-noto-yakuhanrp,
.is-font-round-meiryo-yakuhanrp {
  font-family: YakuHanRP, "Rounded Mplus 1c", -apple-system, BlinkMacSystemFont, "Segoe UI", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans Japanese", Meiryo, "Yu Gothic Medium", sans-serif;
}

.is-font-round-yakuhanrps,
.is-font-round-hiragino-yakuhanrps,
.is-font-round-yugo-yakuhanrps,
.is-font-round-noto-yakuhanrps,
.is-font-round-meiryo-yakuhanrps {
  font-family: YakuHanRPs, "Rounded Mplus 1c", -apple-system, BlinkMacSystemFont, "Segoe UI", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans Japanese", Meiryo, "Yu Gothic Medium", sans-serif;
}

.is-weight-800 {
  font-weight: 800;
}

.is-color-transparent {
  color: transparent;
}

.is-size-xxl {
  font-size: 200%;
}

.is-size-xl {
  font-size: 150%;
}

.is-size-lg {
  font-size: 125%;
}

.is-size-md {
  font-size: 100%;
}

.is-size-sm {
  font-size: 87.5%;
}

.is-size-xs {
  font-size: 75%;
}

.is-size-xxs {
  font-size: 62.5%;
}

@media only screen and (min-width: 375px) and (min-height: 812px) {
  .section.is-topcover {
    padding: 4.5em 0 7.5em;
  }

  .section.is-topcover .box.is-bg-logo {
    height: calc(100vh - 12em);
  }

  .section.is-topcover .obj.is-scroll-point {
    bottom: 4.75em;
  }
}

@media screen and (min-width: 768px) {
  .texts.is-include-fonts {
    font-size: 2.45vw;
  }
}

@media screen and (min-width: 992px) {
  .section.is-topcover {
    padding: 3.75em 0;
    background-image: none;
  }

  .section.is-topcover .box.is-bg-logo {
    height: calc(100vh - 7.5em);
    background-size: contain;
  }

  .section.is-topcover .box.is-topcover-content {
    padding-top: 0.75em;
  }

  .section.is-topcover .obj.is-scroll-point {
    bottom: 3.75em;
    padding: 1.5em;
  }

  .list {
    margin-right: 1.5em;
  }
}

@media all and (orientation: landscape) and (max-width: 991px) {
  .section.is-topcover {
    padding: 0 2em;
  }

  .section.is-topcover .box.is-bg-logo {
    height: 100vh;
  }

  .section.is-topcover .obj.is-scroll-point {
    bottom: 0;
    padding: 0.5em 1em;
  }

  .section.is-topcover .obj.is-scroll-point > .fas {
    margin-left: 0;
  }
}

@media all and (-ms-high-contrast: none) {
  .section.is-topcover .box.is-bg-logo {
    background-image: url("../img/apple-touch-icon.png");
  }
}