/*----------------------------------------------------
// Reset
----------------------------------------------------*/

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

/*----------------------------------------------------
// HTML
----------------------------------------------------*/

html {
  font-family: var(--theme-font-sans);
  word-break: break-word;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--theme-bg-1);
  color: var(--theme-tx-2);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  word-break: break-word;
}

a {
  color: var(--theme-lk-1);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

svg:not([fill]) {
  fill: currentColor;
}

:not(pre) > code {
  padding: 0.2rem 0.5rem;
  background-color: var(--theme-ac-1);
  border-radius: 3px;
  color: var(--theme-lk-tx);
  font-size: 0.875em;
  word-break: keep-all;
}

table {
  display: block;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

table th,
table td {
  padding: 0.75rem 1rem;
  background: var(--theme-bg-1);
  border: 2px solid var(--theme-tx-3);
  vertical-align: top;
}

/*----------------------------------------------------
// Code
----------------------------------------------------*/

pre {
  background: var(--theme-code-bg);
  padding: 1.25rem 1.5rem;
  color: var(--theme-code-tx);
  font-size: 1rem;
  font-family: var(--theme-font-mono);
  word-break: normal;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.token.comment {
  color: var(--theme-token-comment);
}

.token.tag {
  color: var(--theme-token-tag);
}

.token.attr-name {
  color: var(--theme-token-attr-name);
}

.token.attr-value {
  color: var(--theme-token-attr-value);
}

.token.keyword {
  color: var(--theme-token-keyword);
}

/*----------------------------------------------------
// App
----------------------------------------------------*/

.app {
  background: linear-gradient(
    90deg,
    var(--theme-bg-3) 50%,
    var(--theme-bg-2) 50%
  );
}

/*----------------------------------------------------
// Hero
----------------------------------------------------*/

.hero {
  padding: min(10vmax, 100px) 20px;
}

.logo {
  display: block;
  width: min(30vw, 200px);
  margin: 0 auto;
}

.logo-text {
  display: block;
  width: min(66vw, 360px);
  margin: min(5vmax, 56px) auto min(1.5vmax, 12px);
}

.logo-text path {
  fill: var(--theme-tx-1);
}

.sub-title {
  display: block;
  margin: 0 auto;
  font-size: clamp(1.125rem, 4vw, 1.625rem);
  font-weight: 700;
  text-align: center;
}

.repo-note {
  max-width: 60vw;
  margin: 0.5rem auto 0;
  font-size: 0.825rem;
  text-align: center;
}

/*----------------------------------------------------
// Section
----------------------------------------------------*/

.section {
  padding: min(4vmax, 48px) 0 min(6vmax, 72px);
}

.section:nth-child(odd):last-child {
  padding-bottom: 0;
}

.section:nth-child(odd) .simulator-grid.is-previews .col:nth-child(odd),
.section:nth-child(odd) .fonts-grid .col:nth-child(odd) {
  background: var(--theme-bg-2);
}

.section:nth-child(odd) .simulator-grid.is-previews .col:nth-child(even),
.section:nth-child(odd) .fonts-grid .col:nth-child(even) {
  background: var(--theme-bg-1);
}

.section:nth-child(even) {
  background: linear-gradient(
    90deg,
    var(--theme-bg-4) 50%,
    var(--theme-bg-3) 50%
  );
}

.section:nth-child(even) .simulator-grid.is-previews .col:nth-child(odd),
.section:nth-child(even) .fonts-grid .col:nth-child(odd) {
  background: var(--theme-bg-3);
}

.section:nth-child(even) .simulator-grid.is-previews .col:nth-child(even),
.section:nth-child(even) .fonts-grid .col:nth-child(even) {
  background: var(--theme-bg-2);
}

.section > .inner {
  max-width: var(--theme-site-width);
  padding: 0 16px;
  margin: 0 auto;
}

.section .heading {
  margin-bottom: min(2vmax, 2rem);
  color: var(--theme-tx-3);
  font-size: min(7vw, 2rem);
  font-weight: 700;
  font-family: var(--theme-font-sans-en);
  text-align: center;
}

/*----------------------------------------------------
// Simulator
----------------------------------------------------*/

.simulator {
  position: relative;
}

.simulator-mode {
  position: absolute;
  bottom: 100%;
  right: 0;
  display: flex;
  padding: 0.675rem 0;
  color: var(--theme-tx-3);
  font-size: 0.75rem;
}

.simulator-mode > * {
  margin-left: 0.25rem;
}

.simulator-mode-button {
  padding: 0 0.25rem;
  background: none;
  border: none;
  border-radius: 0.125rem;
  font-size: 0.75rem;
  color: inherit;
}

.simulator-mode-button:not(.is-active) {
  cursor: pointer;
}

.simulator-mode-button:not(.is-active):hover {
  background: var(--theme-lk-2);
  color: var(--theme-lk-tx);
}

.simulator-mode-button.is-active {
  color: var(--theme-lk-1);
}

.simulator > *:not(:first-child) {
  margin-top: 2px;
}

.simulator-grid {
  list-style: none;
}

.simulator-grid.is-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-left: -2px;
  margin-bottom: -2px;
}

.simulator-grid.is-buttons .col {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 2px;
  padding-bottom: 2px;
}

.simulator-grid.is-previews {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.simulator-grid.is-previews .col {
  position: relative;
  padding: min(5vw, 32px);
}

.simulator-grid.is-previews .col:before {
  position: absolute;
  top: 0;
  display: inline-block;
  padding: 0.375rem;
  color: var(--theme-tx-3);
  font-size: 0.675rem;
  line-height: 1;
}

.simulator-grid.is-previews .col:nth-child(1)::before {
  content: "Before";
  left: 0;
}

.simulator-grid.is-previews .col:nth-child(2)::before {
  content: "After";
  right: 0;
}

.simulator-button {
  flex: 1 0 auto;
  display: block;
  padding: 4px 8px;
  background: var(--theme-bg-1);
  border: none;
  color: inherit;
  font-size: 0.875rem;
}

.simulator-button:not(.is-active) {
  cursor: pointer;
}

.simulator-button:not(.is-active):hover {
  background: var(--theme-lk-2);
  color: var(--theme-lk-tx);
}

.simulator-button.is-active {
  color: var(--theme-lk-1);
}

.simulator-preview {
  width: 100%;
  background: none;
  border: none;
  color: var(--theme-tx-1);
  font-size: 1rem;
  line-height: 1.5;
  resize: none;
}

.simulator-preview:hover {
  box-shadow: 0 0 0 1px var(--theme-tx-3);
  border-radius: 3px;
}

/*----------------------------------------------------
// Simulator (Reverse Color)
----------------------------------------------------*/

.section:nth-child(odd)
  .simulator-grid.is-previews.is-reverse
  .col:nth-child(odd) {
  background: var(--theme-reverse-bg-2);
}

.section:nth-child(odd)
  .simulator-grid.is-previews.is-reverse
  .col:nth-child(even) {
  background: var(--theme-reverse-bg-1);
}

.section:nth-child(even)
  .simulator-grid.is-previews.is-reverse
  .col:nth-child(odd) {
  background: var(--theme-reverse-bg-3);
}

.section:nth-child(even)
  .simulator-grid.is-previews.is-reverse
  .col:nth-child(even) {
  background: var(--theme-reverse-bg-2);
}

.simulator-grid.is-previews.is-reverse .col:before {
  color: var(--theme-reverse-tx-3);
}

.simulator-grid.is-previews.is-reverse .simulator-preview {
  color: var(--theme-reverse-tx-1);
}

/*----------------------------------------------------
// Card
----------------------------------------------------*/

.card {
  position: relative;
  margin: 0 auto;
  padding: min(5vw, 32px);
  background: var(--theme-bg-1);
  overflow: hidden;
}

.card + .card {
  margin-top: 1rem;
}

.card > *:not(:first-child) {
  margin-top: 1rem;
}

.card h3 {
  margin-top: -0.25rem;
  font-size: min(5vw, 1.5rem);
  font-weight: 700;
  text-align: center;
}

.card p {
  line-height: 1.75;
}

.card .markdown {
  z-index: 1;
}

.card .yakuhan-kun {
  position: absolute;
  top: 45%;
  right: 5%;
  width: 28%;
  height: 82%;
  margin: 0;
  transform: rotate(20deg) translateY(-50%);
}

.card .yakuhan-kun path {
  fill: var(--theme-ac-1);
}

@media (max-width: 800px) {
  .card .yakuhan-kun {
    display: none;
  }
}

/*----------------------------------------------------
// Fonts Grid
----------------------------------------------------*/

.fonts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 0;
  margin: 0 auto;
  list-style: none;
}

.fonts-grid .col {
  padding: min(5vw, 32px);
  overflow: hidden;
}

.fonts-grid .title {
  margin-bottom: 0.5rem;
  color: var(--theme-tx-1);
  font-size: clamp(1.125rem, 3.25vw, 1.5rem);
  font-weight: 700;
  line-height: 1.25;
}

.fonts-grid .descriptopn {
  margin-bottom: 0.75rem;
  font-size: clamp(0.75rem, 2.5vw, 1.125rem);
  font-weight: 600;
}

.fonts-grid .descriptopn span {
  display: inline-block;
}

.fonts-grid .glyphs {
  padding-top: 1rem;
  border-top: 1px dashed var(--theme-tx-3);
  font-size: clamp(1.125rem, 3.5vw, 1.5rem);
}

.is-yakuhanjp {
  font-family: var(--theme-font-yakuhanjp);
}

.is-yakuhanjps {
  font-family: var(--theme-font-yakuhanjps);
}

.is-yakuhanmp {
  font-family: var(--theme-font-yakuhanmp);
}

.is-yakuhanmps {
  font-family: var(--theme-font-yakuhanmps);
}

.is-yakuhanrp {
  font-family: var(--theme-font-yakuhanrp);
}

.is-yakuhanrps {
  font-family: var(--theme-font-yakuhanrps);
}

/*----------------------------------------------------
// Markdown
----------------------------------------------------*/

.markdown {
  position: relative;
}

.markdown > *:not(:first-child) {
  margin-top: 1rem;
}

.markdown ul {
  padding-left: 1.5em;
}

/*----------------------------------------------------
// Footer
----------------------------------------------------*/

.footer {
  padding: 7.5vh 20px;
}

.copylight {
  font-family: var(--theme-font-sans-en);
  text-align: center;
}
