/*----------------------------------------------------
// Reset
----------------------------------------------------*/

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

/*----------------------------------------------------
// HTML
----------------------------------------------------*/

html {
  font-family: var(--theme-font-sans);
  word-break: break-word;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--theme-bg-1);
  color: var(--theme-tx-2);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  word-break: break-word;
}

a {
  color: var(--theme-lk-1);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

svg:not([fill]) {
  fill: currentColor;
}

:not(pre) > code {
  padding: 0.2rem 0.5rem;
  background-color: var(--theme-ac-1);
  border-radius: 3px;
  color: var(--theme-lk-tx);
  font-size: 0.875em;
  word-break: keep-all;
}

table {
  display: block;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

table th,
table td {
  padding: 0.75rem 1rem;
  background: var(--theme-bg-1);
  border: 2px solid var(--theme-tx-3);
  vertical-align: top;
}

/*----------------------------------------------------
// App
----------------------------------------------------*/

.app {
  background: linear-gradient(
    90deg,
    var(--theme-bg-3) 50%,
    var(--theme-bg-2) 50%
  );
}

/*----------------------------------------------------
// Hero
----------------------------------------------------*/

.hero {
  padding: min(10vmax, 100px) 20px;
}

.logo {
  display: block;
  width: min(30vw, 200px);
  margin: 0 auto;
}

.logo-text {
  display: block;
  width: min(66vw, 360px);
  margin: min(5vmax, 56px) auto min(1.5vmax, 12px);
}

.logo-text path {
  fill: var(--theme-tx-2);
}

.sub-title {
  display: block;
  margin: 0 auto;
  font-size: clamp(1.125rem, 4vw, 1.625rem);
  font-weight: 700;
  text-align: center;
}

.repo-note {
  max-width: 60vw;
  margin: 0.5rem auto 0;
  font-size: 0.825rem;
  text-align: center;
}

/*----------------------------------------------------
// Section
----------------------------------------------------*/

.section {
  padding: min(4vmax, 48px) 0 min(6vmax, 72px);
}

.section:nth-child(odd):last-child {
  padding-bottom: 0;
}

.section:nth-child(even) {
  background: linear-gradient(
    90deg,
    var(--theme-bg-4) 50%,
    var(--theme-bg-3) 50%
  );
}

.section > .inner {
  max-width: var(--theme-site-width);
  padding: 0 16px;
  margin: 0 auto;
}

.section .heading {
  margin-bottom: min(2vmax, 2rem);
  color: var(--theme-tx-3);
  font-size: min(7vw, 2rem);
  font-weight: 700;
  font-family: var(--theme-font-sans-en);
  text-align: center;
}

/*----------------------------------------------------
// Card
----------------------------------------------------*/

.card {
  position: relative;
  max-width: var(--theme-card-width);
  margin: 0 auto;
  padding: min(5vw, 32px);
  background: var(--theme-bg-1);
  overflow: hidden;
}

.card + .card {
  margin-top: 1rem;
}

.card > *:not(:first-child) {
  margin-top: 1rem;
}

.card h3 {
  margin-top: -0.25rem;
  font-size: min(5vw, 1.5rem);
  font-weight: 700;
  text-align: center;
}

.card p {
  line-height: 1.75;
}

.card .markdown {
  z-index: 1;
}

.card .yakuhan-kun {
  position: absolute;
  top: -3%;
  right: -2%;
  width: 36%;
  height: 100%;
  margin: 0;
  transform: rotate(20deg);
}

.card .yakuhan-kun path {
  fill: var(--theme-bg-4);
}

@media (max-width: 800px) {
  .card .yakuhan-kun {
    display: none;
  }
}

/*----------------------------------------------------
// Markdown
----------------------------------------------------*/

.markdown {
  position: relative;
}

.markdown > *:not(:first-child) {
  margin-top: 1rem;
}

.markdown ul {
  padding-left: 1.5em;
}

/*----------------------------------------------------
// Footer
----------------------------------------------------*/

.footer {
  padding: 7.5vh 20px;
}

.copylight {
  font-family: var(--theme-font-sans-en);
  text-align: center;
}
