/*----------------------------------------------------
// Theme Light
----------------------------------------------------*/

:root {
  --theme-tx-1: #333333;
  --theme-tx-2: #4b4b4b;
  --theme-tx-3: #7b7b7b;
  --theme-bg-1: #fcfcfc;
  --theme-bg-2: #f2f2f2;
  --theme-bg-3: #e6e6e6;
  --theme-bg-4: #d9d9d9;
  --theme-lk-1: #b07e00;
  --theme-lk-tx: #fcfcfc;
  --theme-ac-1: #cfcfcf;
  --theme-code-bg: #2e3440;
  --theme-code-tx: #d8dee9;
}
