/*----------------------------------------------------
// Theme Dark
----------------------------------------------------*/

@media (prefers-color-scheme: dark) {
  :root {
    --theme-tx-1: #e8e8e8;
    --theme-tx-2: #aaaaaa;
    --theme-tx-3: #515151;
    --theme-bg-1: #242424;
    --theme-bg-2: #1c1c1c;
    --theme-bg-3: #141414;
    --theme-bg-4: #0d0d0d;
    --theme-lk-1: #d19600;
    --theme-lk-2: #d19600;
    --theme-lk-tx: #141414;
    --theme-ac-1: #2f2f2f;
    --theme-code-bg: #242424;
    --theme-code-tx: #aaaaaa;
    --theme-reverse-tx-1: #333333;
    --theme-reverse-tx-3: #7b7b7b;
    --theme-reverse-bg-1: #fcfcfc;
    --theme-reverse-bg-2: #f2f2f2;
    --theme-reverse-bg-3: #e6e6e6;
  }
}
