//----------------------------------------------------
// Layout: Section
//----------------------------------------------------

.section.is-topcover {
  position: relative;
  padding: 0.75em 0 2.25em;
  background-image: linear-gradient(90deg, rgb(26, 26, 26) 50%, rgb(77, 77, 77) 50%);
  @include landscape {
    padding: 0 2em;
  }
  @include iphone10-portrait {
    padding: 4.5em 0 7.5em;
  }
  @include desktop {
    padding: 3.75em 0;
    background-image: none;
  }
  .box.is-bg-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 3em);
    //background-image: linear-gradient(90deg, rgb(26, 26, 26) 50%, rgb(77, 77, 77) 50%);
    background-image: url("../img/icon-yakuhanjp.svg");
    background-position: center center;
    background-size: cover;
    @include ie {
      background-image: url("../img/apple-touch-icon.png");
    }
    @include iphone10-portrait {
      height: calc(100vh - 12em);
    }
    @include landscape {
      height: 100vh;
    }
    @include desktop {
      height: calc(100vh - 7.5em);
      background-size: contain;
    }
  }
  .box.is-topcover-content {
    @include desktop {
      padding-top: 0.75em;
    }
  }
  .obj.is-scroll-point {
    position: absolute;
    bottom: 0.5em;
    left: 50%;
    display: inline-block;
    padding: 1em;
    color: $light-3;
    transition: ease-out 0.12s;
    transform: translateX(-50%);
    z-index: 50;
    @include landscape {
      bottom: 0;
      padding: 0.5em 1em;
    }
    @include iphone10-portrait {
      bottom: 4.75em;
    }
    @include desktop {
      bottom: 3.75em;
      padding: 1.5em;
    }
    &:hover {
      color: $light;
    }
  }
  .obj.is-scroll-point > .fas {
    @include landscape {
      margin-left: 0;
    }
  }
}

.section.is-main {
}

.section.is-main-content {
  padding: 3em 0 4.5em;
  &.is-example {
    background-color: $dark-9;
  }
  &.is-include-fonts {
  }
  &.is-howtouse {
    background-color: $dark-9;
  }
  &.is-custom {
  }
  &.is-support {
    background-color: $dark-9;
  }
  &.is-license {
  }
  > .inner-vw > .heading + .group {
    margin-top: 2em;
  }
}

.section.is-footer {
  background-color: $dark-2;
  padding: 40px 0 10px;
}