//----------------------------------------------------
// Layout: Section
//----------------------------------------------------

.section.is-topcover {
  @include desktop {
    padding: 60px 0;
  }
  .box.is-bg-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vmax;
    background-image: linear-gradient(90deg, rgb(26, 26, 26) 50%, rgb(77, 77, 77) 50%);
    @include desktop {
      height: calc(100vh - 120px);
      background-image: url("../img/icon-yakuhanjp.svg");
      background-position: center center;
      background-size: contain;
      @include ie {
        height: calc(100vh - 60px);
        background-image: url("../img/apple-touch-icon.png");
      }
    }
  }
  .box.is-topcover-content {
    padding-top: 0.75em;
  }
}

.section.is-main {
}

.section.is-main-content {
  padding: 3em 0 4.5em;
  &.is-example {
    background-color: $dark-9;
  }
  &.is-include-fonts {
  }
  &.is-howtouse {
    background-color: $dark-9;
  }
  &.is-custom {
  }
  &.is-support {
    background-color: $dark-9;
  }
  &.is-license {
  }
  > .inner-vw > .heading + .group {
    margin-top: 2em;
  }
}

.section.is-footer {
  background-color: $dark-2;
  padding: 40px 0 10px;
}