//----------------------------------------------------
//- Parts: How to Use > CDN
//----------------------------------------------------

.content.is-card.is-active.js-tab-content
  .inner.is-bottom-up
    h4.heading.is-strong.is-lg
      a.text.is-link-reverse.is-primary(href="https://cdn.jsdelivr.net/npm/yakuhanjp/") CDN
    ol.list.is-decimal
      li.item.is-block
        p.texts
          | jsDelivrで配信しているCSSファイルへのリンクをHTML内に記述
        include _markdown-cdn.pug
      li.item.is-block
        p.texts CSSでフォントを適応
        include _markdown-css.pug