//----------------------------------------------------
//- Parts: How to Use > CDN
//----------------------------------------------------

.content.is-card.is-active.js-tab-content
  .inner.is-bottom-up
    h4.heading.is-strong.is-lg
      a.text.is-link-reverse.is-primary(href="https://cdn.jsdelivr.net/npm/yakuhanjp/") CDN
    ol.list.is-decimal
      li.item.is-block
        p.texts
          | jsDelivrで配信しているCSSファイルへのリンクをHTML内に記述
        .wysiwyg
          :markdown-it
            ```html
            // YakuHanJP
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@2.0.0/dist/css/yakuhanjp.min.css">

            // YakuHanJPs
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@2.0.0/dist/css/yakuhanjp_s.min.css">

            // YakuHanMP
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@2.0.0/dist/css/yakuhanmp.min.css">

            // YakuHanMPs
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@2.0.0/dist/css/yakuhanmp_s.min.css">
            ```
      li.item.is-block
        p.texts CSSでフォントを適応
        .wysiwyg
          :markdown-it
            ```css
            // YakuHanJP
            .yakuhanjp {
              font-family: YakuHanJP, "Hiragino Sans", Meiryo, "Yu Gothic Medium", sans-serif;
            }

            // YakuHanJPs
            .yakuhanjps {
              font-family: YakuHanJPs, "Hiragino Sans", Meiryo, "Yu Gothic Medium", sans-serif;
            }

            // YakuHanMP
            .yakuhanmp {
              font-family: YakuHanMP, "Hiragino Mincho ProN", "Yu Mincho", YuMincho, serif;
            }

            // YakuHanMPs
            .yakuhanmps {
              font-family: YakuHanMPs, "Hiragino Mincho ProN", "Yu Mincho", YuMincho, serif;
            }
            ```