//----------------------------------------------------
//- Parts: Markdown / CDN
//----------------------------------------------------

.wysiwyg
  :markdown-it
    ```html
    // YakuHanJP：ゴシック体（約物全部入り）
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.0.0/dist/css/yakuhanjp.min.css">

    // YakuHanJPs：ゴシック体（カッコのみ）
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.0.0/dist/css/yakuhanjp_s.min.css">

    // YakuHanMP：明朝体（約物全部入り）
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.0.0/dist/css/yakuhanmp.min.css">

    // YakuHanMPs：明朝体（カッコのみ）
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.0.0/dist/css/yakuhanmp_s.min.css">

    // YakuHanRP：丸ゴシック（約物全部入り）
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.0.0/dist/css/yakuhanrp.min.css">

    // YakuHanRPs：丸ゴシック（カッコのみ）
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.0.0/dist/css/yakuhanrp_s.min.css">
    ```