//----------------------------------------------------
//- Parts: Markdown / CSS
//----------------------------------------------------

.wysiwyg
  :markdown-it
    ```css
    // YakuHanJP：ゴシック体（約物全部入り）
    .yakuhanjp {
      font-family: YakuHanJP, "Hiragino Sans", Meiryo, "Yu Gothic Medium", sans-serif;
    }

    // YakuHanJPs：ゴシック体（カッコのみ）
    .yakuhanjps {
      font-family: YakuHanJPs, "Hiragino Sans", Meiryo, "Yu Gothic Medium", sans-serif;
    }

    // YakuHanMP：明朝体（約物全部入り）
    .yakuhanmp {
      font-family: YakuHanMP, "Hiragino Mincho ProN", "Yu Mincho", YuMincho, serif;
    }

    // YakuHanMPs：明朝体（カッコのみ）
    .yakuhanmps {
      font-family: YakuHanMPs, "Hiragino Mincho ProN", "Yu Mincho", YuMincho, serif;
    }

    // YakuHanRP：丸ゴシック（約物全部入り）
    .yakuhanrp {
      font-family: YakuHanRP, "Rounded Mplus 1c", sans-serif;
    }

    // YakuHanRPs：丸ゴシック（カッコのみ）
    .yakuhanrps {
      font-family: YakuHanRPs, "Rounded Mplus 1c", sans-serif;
    }
    ```