//----------------------------------------------------
// Module: Group
//----------------------------------------------------

.group.is-card {
  background-color: $light;
  > .inner {
    padding: 1.25em;
  }
}

.group.is-bg-smoke-white {
  background: linear-gradient(90deg, $grey-100 50%, $light 50%);
}