//----------------------------------------------------
// Module: Object
//----------------------------------------------------

.logo.is-title {
  width: 70px;
}

.obj.is-footer-logo {
  display: block;
  width: 8em;
}