//----------------------------------------------------
// Module: Object
//----------------------------------------------------

.logo.is-title {
  width: 70px;
  border: 1px solid $light;
}

.obj.is-footer-logo {
  display: block;
  width: 8em;
}