//----------------------------------------------------
// Module: Tab
//----------------------------------------------------

.tabs {
  display: flex;
  flex-wrap: wrap;
}

.tab {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  padding: 0.25em 1.75em;
  background-color: $grey-50;
  transition: ease 0.12s;
  &:not(.is-active) {
    cursor: pointer;
  }
  &:not(.is-active):not(.is-disable):hover,
  &:not(.is-active):not(.is-disable):active {
    background-color: $cyan-500;
    color: $light;
  }
  &.is-active {
    font-weight: 700;
  }
  &.is-active:not(.is-disable) {
    color: $cyan-500;
  }
  &.is-disable {
    color: $red-600;
    text-decoration: line-through;
  }
}