//----------------------------------------------------
/*! Type: YakuHanJP_Narrow - Based on Noto Sans CJK JP */
//----------------------------------------------------

$yakuhanjp-narrow-font-family: "YakuHanJP_Narrow" !default;
$yakuhanjp-narrow-font-file: "YakuHanJP" !default;
$yakuhanjp-narrow-font-dir: "../fonts" !default;
$yakuhanjp-narrow-swap-use: true !default;
$yakuhanjp-narrow-eot-use: true !default;
$yakuhanjp-narrow-cdn-use: false !default;
$yakuhanjp-narrow-cdn-version: "3.3.0" !default;
$yakuhanjp-narrow-unicode-range-use: true !default;
$yakuhanjp-narrow-unicode: U+3001-3002, U+3008-3011, U+3014-3015, U+30fb, U+ff01,
  U+ff08-ff09, U+ff1a-ff1b, U+ff1f, U+ff3b, U+ff3d, U+ff5b, U+ff5d !default;
$yakuhanjp-narrow-weight: (
  100: Thin,
  200: Thin,
  300: Light,
  400: Light,
  500: DemiLight,
  600: Regular,
  700: Medium,
  800: Bold,
  900: Bold
) !default;

@each $key, $value in $yakuhanjp-narrow-weight {
  @font-face {
    $family: $yakuhanjp-narrow-font-family;
    $file: $yakuhanjp-narrow-font-file;
    $dir: $yakuhanjp-narrow-font-dir;
    $swap: $yakuhanjp-narrow-swap-use;
    $eot: $yakuhanjp-narrow-eot-use;
    $cdn: $yakuhanjp-narrow-cdn-use;
    $version: $yakuhanjp-narrow-cdn-version;
    $jsdelivr: "https://cdn.jsdelivr.net/npm/yakuhanjp";
    $unicode-range: $yakuhanjp-narrow-unicode-range-use;
    $unicode: $yakuhanjp-narrow-unicode;

    font-family: $family;
    font-style: normal;
    font-weight: $key;

    @if $swap == true {
      font-display: swap;
    }

    @if $eot == true and $cdn == true {
      src: url("#{$jsdelivr}@#{$version}/dist/fonts/#{$file}/#{$file}-#{$value}.eot");
    }

    @if $eot == true and $cdn == false {
      src: url("#{$dir}/#{$file}/#{$file}-#{$value}.eot");
    }

    @if $cdn == true {
      src: url("#{$jsdelivr}@#{$version}/dist/fonts/#{$file}/#{$file}-#{$value}.woff2")
          format("woff2"),
        url("#{$jsdelivr}@#{$version}/dist/fonts/#{$file}/#{$file}-#{$value}.woff")
          format("woff");
    } @else {
      src: url("#{$dir}/#{$file}/#{$file}-#{$value}.woff2") format("woff2"),
        url("#{$dir}/#{$file}/#{$file}-#{$value}.woff") format("woff");
    }

    @if $unicode-range == true {
      unicode-range: $unicode;
    }
  }
}
