//----------------------------------------------------
/*! Type: YakuHanJP - Based on Noto Sans CJK JP */
//----------------------------------------------------

$yakuhanjp-font-family: "YakuHanJP" !default;
$yakuhanjp-font-file: "YakuHanJP" !default;
$yakuhanjp-font-dir: "../fonts" !default;
$yakuhanjp-swap-use: true !default;
$yakuhanjp-eot-use: true !default;
$yakuhanjp-cdn-use: false !default;
$yakuhanjp-cdn-version: "3.2.0" !default;
$yakuhanjp-unicode-range-use: true !default;
$yakuhanjp-unicode: U+3001-3002, U+3008-3011, U+3014-3015, U+30fb, U+ff01,
  U+ff08-ff09, U+ff1a-ff1b, U+ff1f, U+ff3b, U+ff3d, U+ff5b, U+ff5d !default;
$yakuhanjp-weight: (
  100: Thin,
  200: Light,
  300: DemiLight,
  400: Regular,
  500: Medium,
  700: Bold,
  900: Black
) !default;

@each $key, $value in $yakuhanjp-weight {
  @font-face {
    $family: $yakuhanjp-font-family;
    $file: $yakuhanjp-font-file;
    $dir: $yakuhanjp-font-dir;
    $swap: $yakuhanjp-swap-use;
    $eot: $yakuhanjp-eot-use;
    $cdn: $yakuhanjp-cdn-use;
    $version: $yakuhanjp-cdn-version;
    $jsdelivr: "https://cdn.jsdelivr.net/npm/yakuhanjp";
    $unicode-range: $yakuhanjp-unicode-range-use;
    $unicode: $yakuhanjp-unicode;

    font-family: $family;
    font-style: normal;
    font-weight: $key;

    @if $swap == true {
      font-display: swap;
    }

    @if $eot == true and $cdn == true {
      src: url("#{$jsdelivr}@#{$version}/dist/fonts/#{$file}/#{$file}-#{$value}.eot");
    }

    @if $eot == true and $cdn == false {
      src: url("#{$dir}/#{$file}/#{$file}-#{$value}.eot");
    }

    @if $cdn == true {
      src: url("#{$jsdelivr}@#{$version}/dist/fonts/#{$file}/#{$file}-#{$value}.woff2")
          format("woff2"),
        url("#{$jsdelivr}@#{$version}/dist/fonts/#{$file}/#{$file}-#{$value}.woff")
          format("woff");
    } @else {
      src: url("#{$dir}/#{$file}/#{$file}-#{$value}.woff2") format("woff2"),
        url("#{$dir}/#{$file}/#{$file}-#{$value}.woff") format("woff");
    }

    @if $unicode-range == true {
      unicode-range: $unicode;
    }
  }
}
