//----------------------------------------------------
/*! Type: YakuHanMP - Based on Noto Serif CJK JP */
//----------------------------------------------------

$yakuhanmp-font-family: "YakuHanMP" !default;
$yakuhanmp-font-file: "YakuHanMP" !default;
$yakuhanmp-font-dir: "../fonts" !default;
$yakuhanmp-eot-use: true !default;
$yakuhanmp-cdn-use: false !default;
$yakuhanmp-cdn-version: "3.2.0" !default;
$yakuhanmp-weight: (
  100: ExtraLight,
  200: Light,
  300: Regular,
  400: Medium,
  500: SemiBold,
  700: Bold,
  900: Black
) !default;

@each $key, $value in $yakuhanmp-weight {
  @font-face {
    $family: $yakuhanmp-font-family;
    $file: $yakuhanmp-font-file;
    $dir: $yakuhanmp-font-dir;
    $eot: $yakuhanmp-eot-use;
    $cdn: $yakuhanmp-cdn-use;
    $version: $yakuhanmp-cdn-version;
    $jsdelivr: "https://cdn.jsdelivr.net/npm/yakuhanjp";

    font-family: $family;
    font-style: normal;
    font-weight: $key;

    @if $eot == true and $cdn == true {
      src: url("#{$jsdelivr}@#{$version}/dist/fonts/#{$file}/#{$file}-#{$value}.eot");
    }

    @if $eot == true and $cdn == false {
      src: url("#{$dir}/#{$file}/#{$file}-#{$value}.eot");
    }

    @if $cdn == true {
      src: url("#{$jsdelivr}@#{$version}/dist/fonts/#{$file}/#{$file}-#{$value}.woff2")
          format("woff2"),
        url("#{$jsdelivr}@#{$version}/dist/fonts/#{$file}/#{$file}-#{$value}.woff")
          format("woff");
    } @else {
      src: url("#{$dir}/#{$file}/#{$file}-#{$value}.woff2") format("woff2"),
        url("#{$dir}/#{$file}/#{$file}-#{$value}.woff") format("woff");
    }
  }
}
