//----------------------------------------------------
/*! Type: YakuHanMP_Noto - Based on Noto Serif CJK JP */
//----------------------------------------------------

$yakuhanmp-noto-font-family: "YakuHanMP_Noto" !default;
$yakuhanmp-noto-font-file: "YakuHanMP" !default;
$yakuhanmp-noto-font-dir: "../fonts" !default;
$yakuhanmp-noto-eot-use: true !default;
$yakuhanmp-noto-cdn-use: false !default;
$yakuhanmp-noto-cdn-version: "3.2.0" !default;
$yakuhanmp-noto-weight: (
  200: ExtraLight,
  300: Light,
  400: Regular,
  500: Medium,
  600: SemiBold,
  700: Bold,
  900: Black
) !default;

@each $key, $value in $yakuhanmp-noto-weight {
  @font-face {
    $family: $yakuhanmp-noto-font-family;
    $file: $yakuhanmp-noto-font-file;
    $dir: $yakuhanmp-noto-font-dir;
    $eot: $yakuhanmp-noto-eot-use;
    $cdn: $yakuhanmp-noto-cdn-use;
    $version: $yakuhanmp-noto-cdn-version;
    $jsdelivr: "https://cdn.jsdelivr.net/npm/yakuhanjp";

    font-family: $family;
    font-style: normal;
    font-weight: $key;

    @if $eot == true and $cdn == true {
      src: url("#{$jsdelivr}@#{$version}/dist/fonts/#{$file}/#{$file}-#{$value}.eot");
    }

    @if $eot == true and $cdn == false {
      src: url("#{$dir}/#{$file}/#{$file}-#{$value}.eot");
    }

    @if $cdn == true {
      src: url("#{$jsdelivr}@#{$version}/dist/fonts/#{$file}/#{$file}-#{$value}.woff2")
          format("woff2"),
        url("#{$jsdelivr}@#{$version}/dist/fonts/#{$file}/#{$file}-#{$value}.woff")
          format("woff");
    } @else {
      src: url("#{$dir}/#{$file}/#{$file}-#{$value}.woff2") format("woff2"),
        url("#{$dir}/#{$file}/#{$file}-#{$value}.woff") format("woff");
    }
  }
}
