//----------------------------------------------------
/*! Type: YakuHanRP - Based on Rounded M+ 1c */
//----------------------------------------------------

$yakuhanrp-font-family: "YakuHanRP" !default;
$yakuhanrp-font-file: "YakuHanRP" !default;
$yakuhanrp-font-dir: "../fonts" !default;
$yakuhanrp-swap-use: true !default;
$yakuhanrp-eot-use: true !default;
$yakuhanrp-cdn-use: false !default;
$yakuhanrp-cdn-version: "3.3.1" !default;
$yakuhanrp-unicode-range-use: true !default;
$yakuhanrp-unicode: U+3001-3002, U+3008-3011, U+3014-3015, U+30fb, U+ff01,
  U+ff08-ff09, U+ff1a-ff1b, U+ff1f, U+ff3b, U+ff3d, U+ff5b, U+ff5d !default;
$yakuhanrp-weight: (
  100: "Thin",
  300: "Light",
  400: "Regular",
  500: "Medium",
  700: "Bold",
  800: "ExtraBold",
  900: "Black"
) !default;

@each $key, $value in $yakuhanrp-weight {
  @font-face {
    $family: $yakuhanrp-font-family;
    $file: $yakuhanrp-font-file;
    $dir: $yakuhanrp-font-dir;
    $swap: $yakuhanrp-swap-use;
    $eot: $yakuhanrp-eot-use;
    $cdn: $yakuhanrp-cdn-use;
    $version: $yakuhanrp-cdn-version;
    $jsdelivr: "https://cdn.jsdelivr.net/npm/yakuhanjp";
    $unicode-range: $yakuhanrp-unicode-range-use;
    $unicode: $yakuhanrp-unicode;

    font-family: $family;
    font-style: normal;
    font-weight: $key;

    @if $swap == true {
      font-display: swap;
    }

    @if $eot == true and $cdn == true {
      src: url("#{$jsdelivr}@#{$version}/dist/fonts/#{$file}/#{$file}-#{$value}.eot");
    }

    @if $eot == true and $cdn == false {
      src: url("#{$dir}/#{$file}/#{$file}-#{$value}.eot");
    }

    @if $cdn == true {
      src: url("#{$jsdelivr}@#{$version}/dist/fonts/#{$file}/#{$file}-#{$value}.woff2")
          format("woff2"),
        url("#{$jsdelivr}@#{$version}/dist/fonts/#{$file}/#{$file}-#{$value}.woff")
          format("woff");
    } @else {
      src: url("#{$dir}/#{$file}/#{$file}-#{$value}.woff2") format("woff2"),
        url("#{$dir}/#{$file}/#{$file}-#{$value}.woff") format("woff");
    }

    @if $unicode-range == true {
      unicode-range: $unicode;
    }
  }
}
