//----------------------------------------------------
/*! Type: YakuHanJPs_Noto - Based on Noto Sans CJK JP */
//----------------------------------------------------

$yakuhanjps-noto-font-family: "YakuHanJPs_Noto" !default;
$yakuhanjps-noto-font-file: "YakuHanJPs" !default;
$yakuhanjps-noto-font-dir: "../fonts" !default;
$yakuhanjps-noto-swap-use: true !default;
$yakuhanjps-noto-eot-use: true !default;
$yakuhanjps-noto-cdn-use: false !default;
$yakuhanjps-noto-cdn-version: "3.2.0" !default;
$yakuhanjps-noto-weight: (
  100: Thin,
  300: Light,
  400: Regular,
  500: Medium,
  700: Bold,
  900: Black
) !default;

@each $key, $value in $yakuhanjps-noto-weight {
  @font-face {
    $family: $yakuhanjps-noto-font-family;
    $file: $yakuhanjps-noto-font-file;
    $dir: $yakuhanjps-noto-font-dir;
    $swap: $yakuhanjps-noto-swap-use;
    $eot: $yakuhanjps-noto-eot-use;
    $cdn: $yakuhanjps-noto-cdn-use;
    $version: $yakuhanjps-noto-cdn-version;
    $jsdelivr: "https://cdn.jsdelivr.net/npm/yakuhanjp";

    font-family: $family;
    font-style: normal;
    font-weight: $key;

    @if $swap == true {
      font-display: swap;
    }

    @if $eot == true and $cdn == true {
      src: url("#{$jsdelivr}@#{$version}/dist/fonts/#{$file}/#{$file}-#{$value}.eot");
    }

    @if $eot == true and $cdn == false {
      src: url("#{$dir}/#{$file}/#{$file}-#{$value}.eot");
    }

    @if $cdn == true {
      src: url("#{$jsdelivr}@#{$version}/dist/fonts/#{$file}/#{$file}-#{$value}.woff2")
          format("woff2"),
        url("#{$jsdelivr}@#{$version}/dist/fonts/#{$file}/#{$file}-#{$value}.woff")
          format("woff");
    } @else {
      src: url("#{$dir}/#{$file}/#{$file}-#{$value}.woff2") format("woff2"),
        url("#{$dir}/#{$file}/#{$file}-#{$value}.woff") format("woff");
    }
  }
}
