//----------------------------------------------------
//- Parts: Footer
//----------------------------------------------------

footer.section.is-footer.is-wide-lg
  .inner-soft
    p.texts.is-light.is-center.is-sm
      span.text &copy;
      | &nbsp;
      a.text.is-link-reverse(href=copylight.url)= copylight.name
      | &nbsp;
      span.text= copylight.year

  include ../demo/_preload.pug